<div class="row-fluid">
    <div class="span9">
        <h1 class="post__header">{{collection}} {{unit}} s.{{pageNumber}}</h1>
    </div>
    <div class="span3 text-right post__tools">
        <a href ng-hide="errorReportingEnabled" ng-click="toggleErrorReporting()" title="Rapporter fejl">Rapportér fejl <i class="sdk-icon report-error"></i></a>
        <a href ng-show="errorReportingEnabled" ng-click="toggleErrorReporting()" title="Rapporter fejl">Afslut fejlrapportering <span class="post__closereporting"><i class="sdk-icon close-error-reporting"></i></span></a>
    </div>
</div>

<div class="row-fluid">

    <div class="span5">
        <div ng-repeat="field in post">
            <post-field to-editor="toEditor(field)" data="field" report="report(fieldData)" error-reporting="errorReportingEnabled"></post-field>
        </div>
    </div>

    <div class="span7">
        <div class="post__image">
            <img ng-src="{{getImageUrl()}}" alt="{{collection}} {{unit}}, s. {{pageNumber}}">
            <span class="post__caption">{{collection}} {{unit}}, s. {{pageNumber}}</span>
        </div>
        <div class="post__links">
            <a ng-href="{{kildeviserUrl}}" target="_blank" class="button">Vis i kildeviser</a>
            <a href ng-if="showEditorLink" ng-href="{{editorUrl()}}" target="_blank" class="button">Vis i kildetaster</a>
        </div>
    </div>
</div>
