<div class="search-navigation" ng-if="partOfSearch">
    <div class="row-fluid">
        <div class="span3">
            <a ui-sref="search.page">Tilbage til søgeresultater</a>
        </div>
                
        <div class="span3">
            <span>Resultat {{currentIndex + 1}} af {{numFound}}</span>    
        </div>
        
        <div class="span3 offset3 text-right">
            <div class="search-navigation__buttons">
                <button class="button search-navigation__button" ng-click="prev()" ng-disabled="disablePrev()">Forrige</button>
                <button class="button search-navigation__button" ng-click="next()" ng-disabled="disableNext()">Næste</button>    
            </div>
        </div>
    </div>
</div>
