<div>

    <!-- Search config -->
    <section>

        <div class="row-fluid with-padding">
            <div class="span12">
                <div class="sdk-search__section">

                    <h1>Søg i indtastede kilder</h1>

                </div>
            </div>
        </div>
        <hr class="sdk-search__divider">
        <div class="row-fluid with-padding">
            <div class="span12">
                <div class="sdk-search__section sdk-search__section--flex">
                    <div>
                        <div class="sdk-search__arrow"></div><a class="sdk-search__external-link" href="https://www.kbharkiv.dk/sog-i-arkivet/sog-i-indtastede-kilder/hjaelp-til-sogning-i-indtastede-kilder">Hjælp til søgning</a>
                    </div>
                    <div>
                        <button class="button" ng-click="resetSearch()" ng-disabled="searching">Nulstil søgning<div class="sdk-search__reset"></div></button>
                    </div>
                </div>
            </div>
        </div>
        <hr class="sdk-search__divider">
        <div class="row-fluid with-padding">
            <div class="span12">
                <div ng-class="{'sdk-search__section--open' : ctrl.sectionFree}" class="sdk-search__section sdk-search__section--closed">

                    <h2 ng-click="toggle('sectionFree')" class="sdk-search__section-header"><div class="sdk-search__foldout"></div>Fritekst</h2>

                    <div class="sdk-search__freesearch">
                        <p>Her kan du søge efter personer i bl.a. Politiets registerblade og de københavnske begravelsesprotokoller.</p>
                        <input placeholder="Navn, adresse eller fritekst" type="text" /><button type="button" class="button" ng-click="startNewSearch()" ng-disabled="searching">SØG</button>
                    </div>

                </div>
            </div>
        </div>
        <hr class="sdk-search__divider">
        <div class="row-fluid with-padding">
            <div class="span12">
                <div ng-class="{'sdk-search__section--open' : ctrl.sectionAdvanced}" class="sdk-search__section sdk-search__section--closed">

                    <h2 ng-click="toggle('sectionAdvanced')" class="sdk-search__section-header"><div class="sdk-search__foldout"></div>Avanceret</h2>
                    <div class="sdk-search__dom-content" get-dom-content="search-app-upper-text"></div>
                    <div class="collection">
                        <div class="collection__item" ng-repeat="collection in ctrl.collections">
                            <input
                                id="col_{{collection.id}}"
                                type="checkbox"
                                value="{{collection.id}}"
                                ng-model="collection.selected"
                                ng-change="ctrl.collectionsChange(collection)">
                                <label for="col_{{collection.id}}">{{collection.name}}</label>
                        </div>
                    </div>
                    <div class="sdk-search__dom-content" get-dom-content="search-app-lower-text"></div>
                    
                    <div ng-repeat="row in ctrl.queries">
                        <div class="row-fluid redform-form sdk-search__config">
                            <div class="span3">
                    
                                <div class="field">
                                    <label>
                                        Felt
                                        <select
                                            ng-model="row.field"
                                            ng-change="ctrl.clearRow(row)"
                                            ng-options="field.view_name for field in fields | filter:{searchable:true} | filter:fieldCollectionFilter">
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="field">
                                    <label>
                                        Operator
                                        <select
                                            ng-options="operators[operator] as operators[operator].label for operator in types[row.field.type].operators"
                                            ng-model="row.operator"
                                            ng-change="shouldEscape(row, row.operator)">
                                            <option>Vælg</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="field">
                                    <term-field type="row.field.type" data="row" submit-func="ctrl.submitSearch(event)"></term-field>
                                </div>
                            </div>
                            <a href class="sdk-search__remove" title="Fjern række" ng-click="ctrl.removeField($index, $event)" ng-if="ctrl.queries.length > 1">
                                <span class="sdk-icon delete"></span>
                            </a>
                        </div>
                    </div>
                    
                    <a href class="sdk-search__add" ng-click="ctrl.addField('firstnames')">Tilføj et felt</a>

                    <div>
                        <button type="button" class="button" ng-click="startNewSearch()" ng-disabled="searching">SØG</button>
                    </div>

                </div>
            </div>
        </div>
        <hr class="sdk-search__divider sdk-search__divider--noshow">
    </section>

</div>
