<div>

    <!-- Search config -->
    <section>

        <div class="row-fluid with-padding">
            <div class="span12">

                <div get-dom-content="search-app-upper-text"></div>

                <div class="collection">
                    <div class="collection__item" ng-repeat="collection in ctrl.collections">
                        <input
                            id="col_{{collection.id}}"
                            type="checkbox"
                            value="{{collection.id}}"
                            ng-model="collection.selected"
                            ng-change="ctrl.collectionsChange(collection)">
                            <label for="col_{{collection.id}}">{{collection.name}}</label>
                    </div>
                </div>

                <div get-dom-content="search-app-lower-text"></div>
            </div>
        </div>

        <div class="row-fluid with-padding" ng-repeat="row in ctrl.queries">

            <div class="span12">
                <div class="row-fluid redform-form sdk-search__config">
                    <div class="span4">
                        <div class="field">
                            <label>
                                Felt
                                <select
                                    ng-model="row.field"
                                    ng-change="ctrl.clearRow(row)"
                                    ng-options="field.view_name for field in fields | filter:{searchable:true} | filter:fieldCollectionFilter">
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="span2">
                        <div class="field">
                            <label>
                                Operator
                                <select
                                    ng-options="operators[operator] as operators[operator].label for operator in types[row.field.type].operators"
                                    ng-model="row.operator"
                                    ng-change="shouldEscape(row, row.operator)">
                                    <option>Vælg</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="field">
                            <term-field type="row.field.type" data="row" submit-func="ctrl.submitSearch(event)"></term-field>
                        </div>
                    </div>
                    <a href class="sdk-search__remove" title="Fjern række" ng-click="ctrl.removeField($index, $event)" ng-if="ctrl.queries.length > 1">
                        <span class="sdk-icon delete"></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="row-fluid with-padding">
            <div class="span12">
                <a href class="sdk-search__add" ng-click="ctrl.addField('firstnames')">Tilføj et felt</a>
            </div>
        </div>

        <div class="row-fluid with-padding">
            <div class="span12">
                <div>
                <button type="button" class="button" ng-click="startNewSearch()" ng-disabled="searching">Søg</button>
                </div>
                <br>
                <div>
                    <a href ng-click="resetSearch()" ng-disabled="searching">Nulstil søgning</a>
                </div>
                <hr class="sdk-search__divider">
            </div>
        </div>
    </section>

</div>
