.post {
    display: flex;

    flex-wrap: wrap;

    &__head {
        display: flex;

        width: 100%;

        flex-wrap: wrap;
    }

    &__col {
        display: flex;
        flex-direction: column;

        width: 50%;
    }

    &__item {
        width: 50%;
        padding: 20px;

        border-bottom: 1px solid darken($light-gray, 10%);

        .post__col & {
            width: 100%;
        }

        &:last-child {
            border-bottom: none;
        }
    }

    &__main {
        display: flex;
        flex-direction: column;

        justify-content: center;
    }

    &__alternate {
        background-color: $light-gray;
    }
    &__viewer {
        background-color: $gray-dark;
    }

    &__collection {
        font-size: 13px;

        display: block;

        color: $font-color;
    }

    &__header {
        font-size: 28px;

        margin-bottom: 20px;

        color: $font-color-dark;
    }

    &__sectionheader {
        font-size: 12px;
        font-weight: 600;
    }
}