.post {
    background-color: $white;
    &__header {
        margin-bottom: 20px;
    }

    &__tools {
        a {
            line-height: 30px;

            position: relative;

            display: inline-block;

            padding-right: 34px;

            .sdk-icon.report-error {
                position: absolute;
                top: 4px;
                right: 0;
            }

            .sdk-icon.close {
                position: absolute;
                top: 0;
                right: 6px;
            }

            .sdk-icon.green-checkmark {
                position: absolute;
                top: 0;
                right: 0;

                width: 20px;
            }
        }
    }

    &__closereporting {
        position: absolute;
        top: 4px;
        right: 0;

        display: inline-block;

        width: 25px;
        height: 25px;

        border: 1px solid #505050;
        border-radius: 50%;
        background-color: #8a8a8a;
    }
    &__image {
        margin-bottom: 10px;
        padding: 10px;

        text-align: center;

        border: 1px solid $light-gray;
        background-color: $lighter-gray;

        img {
            width: 100%;
            max-width: 400px;
            height: 100%;
            max-height: 570px;
        }
    }

    &__button {
        font-size: 16px;
        font-weight: normal;
        line-height: 24px;

        text-transform: uppercase;

        color: $white;
        border: none;
        border-radius: 3px;
        background-color: $dark-blue;
        background-image: none; /* default bootstrap overwrite */
    }

    &__caption {
        display: block;

        margin-top: 10px;
    }
}