.sdk-search {
    .advanced-search-fields {
        .form-row {
            padding: 1rem 0;

            border-bottom: 1px solid rgba(0,0,0,0.1);
        }

        .btn-icon {
            margin-top: 0.5rem;

            @media (min-width: 768px) {
                margin-top: 2rem;
            }
        }
    }

    .search-type {
        .list-group-item {
            svg {
                transition: transform 200ms ease;
            }

            &[aria-expanded="true"] svg {
                transform: rotate(180deg);
            }
        }
    }
}