.search-results {
    .filters button {
        margin-right: 0.5rem;
    }

    .table {
        font-size: 14px;
    }

    th, td {
        padding: 1.5rem 1rem;
    }

    td {
        display: block;
    }

    @media screen and (min-width: 768px) {
        td {
            display: table-cell;
        }
    }

    thead th {
        position: sticky;
        top: 0;

        border-top: 0;
        background-color: white;
    }

    .pagination {
        margin-top: 0;
        margin-bottom: 0;
    }

    .float-lg-right .pagination {
        margin-top: 1rem;

        justify-content: flex-end;
    }

    .filter-link {
        margin: 1rem 0.5rem 0 0;
    }
}
