.sdk-search {
    // Joomla overwrites and adjustments, to make our custom design fit into
    // the bootstrap styling of pages
    margin-right: -15px;
    margin-left: -15px;

    // Utility class to adjust styling of our custom design
    .with-padding {
        padding-right: 20px;
        padding-left: 20px;
    }


    select, input[type="text"] {
        font-size: 13px;
        //Overwrite default joomla styling

        width: 100%;
        height: 40px;

        color: $black;
        background-color: $gray;
    }
    input[type="checkbox"] {
        display: none;
    }
    input[type="checkbox"] + label {
        font-size: 13px;

        position: relative;

        display: inline-block;

        margin-bottom: 10px;
        padding: 0 0 0 30px;


        &::before {
            position: absolute;
            top: 0;
            left: 0;

            width: 20px;
            height: 20px;

            content: "";

            border: 1px solid $black;
        }
        &::after {
            position: absolute;
            top: 1px;
            left: 1px;

            display: none;

            width: 20px;
            height: 20px;

            content: inline("resources/images/icon_cross.svg");
        }
    }
    input[type="checkbox"]:checked + label {
        &::after {
            display: block;
        }
    }

    ::-webkit-input-placeholder {
        color: $black;
    }

    ::placeholder {
        color: $black;
    }

    ::-moz-placeholder {
        color: $black;
    }

    :-ms-input-placeholder {
        color: $black;
    }

    :-moz-placeholder {
        color: $black;
    }

    &__section {
        overflow: hidden;

        max-width: 621.66666666667px;
        margin: 0 auto;

        &--closed {
            height: 31px;
        }

        &--open {
            overflow: visible;

            height: auto;
        }

        &--flex {
            display: flex;

            justify-content: space-between;
        }
    }



    &__section-header {
        font-size: 2em !important;

        margin: 0;

        color: $black;

        &:hover {
            cursor: pointer;
        }

        .sdk-search__foldout {
            position: relative;
            top: 2px;

            display: inline-block;

            width: 20px;
            height: 20px;
            margin-right: 15px;

            border: solid 1px $black;
            border-radius: 50%;

            &:before {
                position: absolute;
                top: 8px;
                left: 3px;

                width: 12px;
                height: 2px;

                content: "";

                background-color: $black;
            }
            &:after {
                position: absolute;
                top: 3px;
                left: 8px;

                width: 2px;
                height: 12px;

                content: "";

                background-color: $black;
            }
            .sdk-search__section--open & {
                &:after {
                    display: none;
                }
            }
        }
    }

    &__arrow {
        position: relative;
        top: 5px;

        display: inline-block;

        width: 20px;
        height: 20px;
        margin-right: 15px;

        border: solid 1px $black;
        border-radius: 50%;

        &:before, &:after {
            position: absolute;

            width: 8px;
            height: 2px;

            content: "";

            background-color: $black;
        }
        &:after {
            top: 6px;
            left: 6px;

            transform: rotate(45deg);
        }
        &:before {
            top: 10px;
            left: 6px;

            transform: rotate(-45deg);
        }
    }

    &__simplesearch {
        margin: 50px 0;

        input {
            display: inline-block;

            width: calc(100% - 75px) !important;

            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        button {
            position: relative;
            top: -5px;

            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    &__dom-content {
        margin: 50px 0 20px 0;
    }

    &__subheader {
        margin-top: 10px;
    }

    // Overwrites of default bootstrap grid, to make columns fit without margins
    &__col {
        margin: 0 !important;

        &.span3 {
            width: 25%;
            margin-right: -1px !important;

            border-right: 1px solid $gray-border;
        }

        &.span9 {
            width: calc(75% + 1px);
        }

        @media (max-width: 767px) {
            &.span3, &.span9 {
                width: 100%;
            }
        }
    }

    &__reset {
        position: relative;
        top: 5px;

        display: inline-block;

        width: 20px;
        height: 20px;
        margin-left: 15px;

        border: solid 1px $white;
        border-radius: 50%;

        &:before, &:after {
            position: absolute;
            top: 8px;
            left: 3px;

            width: 12px;
            height: 2px;

            content: "";

            background-color: $white;
        }
        &:after {
            transform: rotate(45deg);
        }
        &:before {
            transform: rotate(-45deg);
        }
    }

    &__config {
        position: relative;

        width: calc(100% - 50px);
        min-height: 60px;
    }

    &__remove {
        position: absolute;
        right: -32px;
        bottom: 18px;
    }

    &__add {
        display: inline-block;

        margin-bottom: 40px;

        &:before {
            display: inline-block;

            width: 11px;
            height: 11px;
            margin-right: 10px;

            content: inline("resources/images/icon_plus.svg");
        }
    }

    &__divider {
        border-top: 1px solid $light-gray;

        &--noshow {
            border: none;
        }
    }

    &__configtoggle {
        position: relative;

        display: block;

        padding: 15px 20px;

        text-decoration: underline;

        border-bottom: 1px solid $gray-border;

        &:after {
            position: absolute;
            z-index: 100;
            top: 0;
            right: -1px;

            display: block;

            width: 2px;
            height: 100%;

            content: "";

            background-color: $white;
        }

        &:hover {
            text-decoration: none;
        }
    }

    &__results {
        &.loading {
            opacity: 0.6;
        }
    }

    &__divider {
        .sdk-search__pagination & > a {
            min-width: inherit !important;
            padding-right: 5px !important;
            padding-left: 5px !important;

            cursor: default;

            &:hover, &:focus {
                background-color: #efefef !important;
            }
        }
    }

    &__footer {
        clear: both;

        border-top: 1px solid $gray-border;
    }
}