node_modules/
dist/
package-lock.json
.prototype/
_prototype/
_sdk/
Interface/resources/js/app/shared/constants.js
Interface/resources/js/app/shared/sdk-templates.js
Interface/resources/js/app/shared/templates.js
Interface/resources/bower_components/
