<section class="post">

    <div class="post__head">
        <div class="post__item post__main post__alternate">

            <div class="post__tools">
                <a href="" ng-click="$ctrl.openErrorReporting()">Rapporter fejl</a>
            </div>

            <div class="post__header">
                <h2>
                    <text-name firstnames="$ctrl.data.firstnames" lastname="$ctrl.data.lastname" birthname="$ctrl.data.birthname"></text-name>
                    <span class="post__collection">Politiets registerblade</span>
                </h2>
                <div class="post__infogroup">
                    <p ng-if="$ctrl.data.person_type_text"><strong>Persontype:</strong> {{$ctrl.data.person_type_text}}</p>
                </div>
                <div class="post__infogroup">
                    <p ng-if="$ctrl.data.dateOfBirth"><strong>Født:</strong> {{$ctrl.data.dateOfBirth | date: 'dd-MM-yyyy' }} <span ng-if="$ctrl.data.birthplace"> i {{$ctrl.data.birthplace}}</span></p>
                    <p ng-if="$ctrl.data.dateOfDeath"><strong>Død:</strong> {{$ctrl.data.dateOfDeath | date: 'dd-MM-yyyy' }}</p>
                </div>
                <div class="post__infogroup">
                    <p><span ng-if="$ctrl.data.civilstand">{{$ctrl.data.civilstand}}</span><span ng-if="$ctrl.data.civilstand && $ctrl.data.sex">, </span><text-gender type="$ctrl.data.sex"></text-gender></p>
                </div>
                <div class="post__infogroup">
                    <div ng-repeat="position in $ctrl.data.positions">
                            <strong ng-if="$first">Erhverv: </strong><span>{{position.position}}</span><span ng-if="!$last">, </span>
                    </div>
                </div>
                <div class="post__infogroup">
                    <p ng-if="$ctrl.data.person_comment"><strong>Indtasters kommentar:</strong> {{$ctrl.data.person_comment}}</p>
                </div>

                <!-- Error reports -->
                <div ng-if="$ctrl.postErrors.length > 0" class="post__error">
                    <div>Denne post er fejlmeldt</div>
                    <a href ng-click="$ctrl.toggleErrorReports()">Læs mere</a>

                    <div ng-repeat="error in $ctrl.postErrors" ng-if="$ctrl.showErrorReports">
                        {{ error.label || 'Ukendt felt' }}: {{error.comment}}
                    </div>
                </div>
                
            </div>
            <div class="post__sharelink">
                <label for="permalink">Permalink</label>
                <input id="permalink" class="input" type="text" ng-value="$ctrl.permalink"/><button ng-click="$ctrl.copy()" class="button">Kopier</button><span class="confirm">Kopieret</span>
            </div>

        </div>
        <div class="post__item post__viewer" ng-if="$ctrl.imageFront">
            <zoom-image image-url="$ctrl.imageFront"></zoom-image>
        </div>
    </div>

    <div class="post__col">
        <div class="post__item">
            <h3 class="post__sectionheader" ng-if="$ctrl.data.addresses">Adresse</h3>
            <text-address-police address="address" date="true" ng-repeat="address in $ctrl.data.addresses"></text-address-police>        
       </div>
        <div class="post__item" ng-if="$ctrl.data.spouses.length > 0 || $ctrl.data.children.length > 0 || $ctrl.data.parent">
            <h3 class="post__sectionheader">Andre personer</h3>
            <div ng-if="$ctrl.data.parent">
                <strong>Forælder:</strong> {{$ctrl.data.parent.firstnames}} {{$ctrl.data.parent.lastname}}
                <p ng-if="$ctrl.data.parent.birthDate">Født: {{$ctrl.data.parent.birthDate | date: 'dd-MM-yyyy' }} <span ng-if="$ctrl.data.parent.birthplace"> i {{$ctrl.data.parent.birthplace}}</span></p>
                <a target="_blank" ui-sref="search.page.result.post({postId:$ctrl.data.parent.post_id})">Vis person</a>
            </div>
            <div ng-repeat="spouse in $ctrl.data.spouses">
                <strong>Ægtefælle:</strong> {{spouse.firstnames}} {{spouse.lastname}}
                <p ng-if="spouse.dateOfBirth">Født: {{spouse.dateOfBirth | date: 'dd-MM-yyyy' }} <span ng-if="spouse.birthplace"> i {{spouse.birthplace}}</span></p>
                <a target="_blank" ui-sref="search.page.result.post({postId:spouse.post_id})">Vis person</a>
            </div>
            <div ng-repeat="child in $ctrl.data.children">
                <strong>Barn:</strong> {{child.firstnames}} {{child.lastname}}
                <p ng-if="child.dateOfBirth">Født: {{child.dateOfBirth | date: 'dd-MM-yyyy' }} <span ng-if="child.birthplace"> i {{child.birthplace}}</span></p>
                <a target="_blank" ui-sref="search.page.result.post({postId:child.post_id})">Vis person</a>
            </div>
        </div>
    </div>

    <div class="post__col post__alternate">
        <div class="post__item">
                <h3 class="post__sectionheader">Om kilden</h3>
                <p>Station {{$ctrl.data.station}}. Filmrulle {{$ctrl.data.film}}. Registerblad {{$ctrl.data.number}} (unikt id. {{$ctrl.data.registerblad_id}})</p>
                <p ng-if="$ctrl.data.dateOfCompletion">Registerbladet er udfyldt: {{$ctrl.data.dateOfCompletion | date: 'dd-MM-yyyy' }}</p>
                <p ng-if="$ctrl.data.specialComment">Særlige bemærkninger: {{$ctrl.data.specialComment}}</p>     
        </div>
        <div class="post__item" ng-if="$ctrl.data.last_changed">
            <h3 class="post__sectionheader">Om indtastningen</h3>
            <p>Senest ændret: {{$ctrl.data.last_changed}}</p>
            <p ng-if="$ctrl.data.registerblad_comment">Indtasters kommentar: {{$ctrl.data.registerblad_comment}}</p>
        </div>
        <div class="post__item post__viewer" ng-if="$ctrl.imageBack">
            <zoom-image image-url="$ctrl.imageBack"></zoom-image>
        </div>
    </div>

</section>
<!--<share-link label="'Kopier link til post'" share-link-id="$ctrl.data.id" button-text="'Del'"></share-link>-->
