<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Værktøj til dannelse af filer vedrørende arkiveringsversioner og deres produktion">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
    
    <style>
        .status_error{
            color: red;
        }
    
        .status_success{
            color:green;
        }
    
        .separator{
            margin-top:30px;
        }
    </style>
    
    <%= htmlWebpackPlugin.tags.headTags.filter(tag => tag.attributes.src.indexOf('datasource') != -1) %>
</head>
<body ng-app="APACSDatasourceEditor">
    <div ng-view></div>
    <%= htmlWebpackPlugin.tags.bodyTags.filter(tag => tag.attributes.src.indexOf('datasource') != -1) %>
</body>
</html>
