<section class="post">

    <div class="post__head">
        <div class="post__item post__main post__alternate">

            <h2 class="post__header">
                {{ $ctrl.data.firstnames }} {{ $ctrl.data.lastname }} <span ng-if="$ctrl.data.birthname">{{$ctrl.data.birthname}}</span></span>
                <span class="post__collection">Begravelse</span>
            </h2>

            <p>Født: {{ $ctrl.data.dateOfBirth | date: 'dd-MM-yyyy' }} <span ng-if="$ctrl.data.birthplace"> i {{$ctrl.data.birthplace}}</span></p>
            <p ng-if="$ctrl.data.dateOfBirth">Død: {{ $ctrl.data.dateOfDeath | date: 'dd-MM-yyyy' }}</p>
            <p><text-age prefix="'Alder: '" years="$ctrl.data.ageYears" months="$ctrl.data.ageMonths" weeks="$ctrl.data.ageWeeks" days="$ctrl.data.ageDays" hours="$ctrl.data.ageHours"></text-age></p>
            <p>{{ $ctrl.data.civilstatus }}, {{ $ctrl.data.sex }}</p>
            <div ng-repeat="position in $ctrl.data.positions">
                <span ng-if="position.relationtype">{{position.relationtype}}: </span>{{position.position}}<span ng-if="!$last">, </span>
            </div>

        </div>
        <div class="post__item post__viewer">
            <zoom-image image-url="$ctrl.imageUrl"></zoom-image>
            <div class="post__links">
                <a ng-href="{{$ctrl.data.kildeviser_url}}" target="_blank" class="button">Vis i kildeviser</a>
                <a href ng-if="$ctrl.showEditorLink" ng-href="{{ $ctrl.editorUrl }}" target="_blank" class="button">Vis i kildetaster</a>
            </div>
        </div>
    </div>

    <div class="post__col">

        <div class="post__item">
            <h3 class="post__sectionheader">Adresse</h3>
            <text-address address="$ctrl.data.address"></text-address>
        </div>

        <div class="post__item">
            <h3 class="post__sectionheader">Om dødsfaldet/begravelsen</h3>
            <p>Dødsårsag:
                <div ng-repeat="deathcause in $ctrl.data.deathcauses">
                    <text-deathcause deathcause="deathcause"></text-deathcause>
                </div>
            </p>
            <p>Dødssted: {{ $ctrl.data.deathplace }}</p>
            <!-- TODO: make directive to show burials -->
            <p ng-if="$ctrl.data.burials.chapel">Fra (kapel): {{ $ctrl.data.burials.chapel }}</p>
            <p ng-if="$ctrl.data.burials.parish">Sogn: {{ $ctrl.data.burials.parish }}</p>
            <p ng-if="$ctrl.data.burials.cemetary">Til (kirkegård): {{ $ctrl.data.burials.cemetary }}</p>

        </div>
    </div>

    <div class="post__col post__alternate">

        <div class="post__item">
            <h3 class="post__sectionheader">Om kilden</h3>
            <p>{{ $ctrl.data.collection_info }} {{ $ctrl.data.unit_description }} s. {{ $ctrl.data.page_number }}</p>
        </div>

        <div class="post__item">
            <h3 class="post__sectionheader">Om indtastningen</h3>
            <!--<p>Indtastet: <span style="color: red">Data mangler, eller er det 'last_update'?</span> af {{ $ctrl.data.user_name }}</p>-->
            <p>Sidst opdateret {{ $ctrl.data.last_update | date: 'dd-MM-yyyy' }} af {{ $ctrl.data.user_name }}</p>
            <!--<p>Fejl, fejlentitet, kommentar: <span style="color: red">Mangler info</span></p>-->
        </div>

    </div>

</section>
