<section class="post">

    <div class="post__head">
        <div class="post__item post__main post__alternate">

            <div class="post__tools">
                <a href="" ng-click="$ctrl.openErrorReporting()">Rapporter fejl</a>
            </div>

            <div class="post__header">
                <h2>
                    <text-name firstnames="$ctrl.data.firstnames" lastname="$ctrl.data.lastname" birthname="$ctrl.data.birthname"></text-name>
                    <span class="post__collection">Begravelse</span>
                </h2>
                <div class="post__infogroup" ng-if="$ctrl.data.dateOfBirth || $ctrl.data.yearOfBirth || $ctrl.data.dateOfDeath">
                    <p ng-if="$ctrl.data.dateOfBirth"><strong>Født:</strong> {{ $ctrl.data.dateOfBirth | date:
                        'dd-MM-yyyy' }} <span ng-if="$ctrl.data.birthplace"> i {{$ctrl.data.birthplace}}</span></p>
                    <p ng-if="isNumber($ctrl.data.yearOfBirth)"><strong>Fødselsår:</strong> {{$ctrl.data.yearOfBirth}}</p>
                    <p>
                        <text-date prefix="Død" date="$ctrl.data.dateOfDeath"></text-date>
                    </p>
                </div>
                <div class="post__infogroup">
                    <p>
                        <text-age prefix="'Alder: '" years="$ctrl.data.ageYears" months="$ctrl.data.ageMonth" weeks="$ctrl.data.ageWeeks"
                            days="$ctrl.data.ageDays" hours="$ctrl.data.ageHours"></text-age>
                    </p>
                </div>
                <div class="post__infogroup" ng-if="$ctrl.data.civilstatus">
                    <p><strong>Civilstand: </strong>{{$ctrl.data.civilstatus}}</p>
                </div>
                <div class="post__infogroup" ng-if="$ctrl.data.sex">
                    <p><strong>Køn: </strong>{{ $ctrl.data.sex }}</p>
                </div>
                <div class="post__infogroup">
                    <text-position positions="$ctrl.data.positions"></text-position>
                </div>

                <!-- Error reports -->
                <div ng-if="$ctrl.postErrors.length > 0" class="post__error">
                    <div>Denne post er fejlmeldt</div>
                    <a href ng-click="$ctrl.toggleErrorReports()">Læs mere</a>

                    <div class="post__error__message" ng-repeat="error in $ctrl.postErrors" ng-if="$ctrl.showErrorReports">
                        {{ error.label || 'Ukendt felt' }}: {{error.comment}}
                    </div>
                </div>

            </div>
            <div class="post__sharelink">
                <label for="permalink">Permalink:</label>
                <input id="permalink" class="input" type="text" ng-value="$ctrl.permalink" /><button ng-click="$ctrl.copy()"
                    class="button">Kopier</button><span class="confirm">Kopieret</span>
            </div>

        </div>
        <div class="post__item post__viewer">
            <zoom-image image-url="$ctrl.imageUrl"></zoom-image>
            <div class="post__links">
                <a ng-href="{{$ctrl.data.kildeviser_url}}" target="_blank" class="button">Vis i kildeviser</a>
                <a href ng-if="$ctrl.showEditorLink" ng-href="{{ $ctrl.editorUrl }}" target="_blank" class="button">Vis
                    i kildetaster</a>
            </div>
        </div>
    </div>

    <div class="post__col">

        <div class="post__item">
            <h3 class="post__sectionheader">Adresse</h3>
            <span ng-if="$ctrl.data.adressOutsideCph">
                {{$ctrl.data.adressOutsideCph}}
            </span>
            <text-address address="$ctrl.data.addresses"></text-address>
        </div>

        <div class="post__item">
            <h3 class="post__sectionheader">Om dødsfaldet/begravelsen</h3>
            <p ng-if="$ctrl.data.deathcauses"><strong>Dødsårsag:</strong> <span ng-repeat="deathcause in $ctrl.data.deathcauses">
                    {{deathcause.deathcause}}<span ng-if="!$last">, </span>
                </span>
            </p>

            <p ng-if="$ctrl.data.deathplace"><strong>Døds-/findested:</strong> {{ $ctrl.data.deathplace }}</p>
            <!-- TODO: make directive to show burials -->

            <p ng-if="$ctrl.data.burials.chapel"><strong>Fra (kapel):</strong> {{ $ctrl.data.burials.chapel }}</p>
            <p ng-if="$ctrl.data.burials.parish"><strong>Sogn:</strong> {{ $ctrl.data.burials.parish }}</p>
            <p ng-if="$ctrl.data.burials.cemetary"><strong>Til (kirkegård):</strong> {{ $ctrl.data.burials.cemetary }}</p>
            <p ng-if="$ctrl.data.comment"><strong>Kommentar:</strong> {{ $ctrl.data.comment }}</p>
        </div>
    </div>

    <div class="post__col post__alternate">

        <div class="post__item">
            <h3 class="post__sectionheader">Om kilden</h3>
            <p>{{ $ctrl.data.collection_info }} {{ $ctrl.data.unit_description }} s. {{ $ctrl.data.page_number }}</p>
            <p ng-if="$ctrl.data.burials.number"><strong>Løbenummer:</strong> {{ $ctrl.data.burials.number }}</p>
        </div>

        <div class="post__item">
            <h3 class="post__sectionheader">Om indtastningen</h3>
            <!--<p>Indtastet: <span style="color: red">Data mangler, eller er det 'last_update'?</span> af {{ $ctrl.data.user_name }}</p>-->
            <p>Sidst opdateret
                <!--{{ $ctrl.data.last_update | date: 'dd-MM-yyyy' }}--> af {{ $ctrl.data.user_name }}</p>
            <!--<p>Fejl, fejlentitet, kommentar: <span style="color: red">Mangler info</span></p>-->
        </div>

    </div>

</section>