.editor-form-container {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;

    width: 20%;
    min-width: $editorFormWidth - 15px;
    padding-left: 80px;

    border-left: 1px solid $gray;
    background-color: $lighter-gray;

    > section {
        overflow-x: hidden;
        overflow-y: scroll;

        height: 100%;
        padding: $gutter;
    }

    .row {
        margin-bottom: 10px;

        .control-label {
            .glyphicon {
                margin-left: 6px;
            }
        }
    }

    ol.list-group {
        margin-bottom: 0;
    }

    //Hack to hide legend tags in generated array strucures from angular-schema-form
    legend {
        display: none;
    }
}