
$gray: #efefef;
$gray-dark: #c0c0c0;
$light-gray: #e1e1e1;
$lighter-gray: #f1f1f1;
$green: green;
$white: rgb(252, 252, 252);
$black: #312a25;
$blue: #405480;
$dark-blue: #3f5381;
$light-blue: #b4c6d6;