
$bluegreen: #008194;
$light-bluegreen: #5fb4b3;
$lighter-bluegreen: lighten($light-bluegreen, 10%);
$superlight-bluegreen: lighten($lighter-bluegreen, 10%);
$purple: #5f5f79;
$gray: #efefef;
$gray-dark: #c0c0c0;
$gray-border: #d7d7d7;
$font-color: #616161;
$font-color-dark: #222222;
$light-gray: #e1e1e1;
$lighter-gray: #f1f1f1;
$green: green;
$red: #e26868;
$white: rgb(255, 255, 255);
$black: #312a25;
$blue: #405480;
$dark-blue: #3f5381;
$light-blue: #b4c6d6;
$dark-yellow: #ffc61e;
$light-yellow: lighten($dark-yellow, 20%);
$primary: $bluegreen;
$search-primary: #128193;
$cyan-light: #c9e4f2;

// task progress plot
$progress-done: #0e6471;
$progress-finishing: #5fb4b3;
$progress-starting: #9bd4d3;
$progress-none: #cbe1e1;
$progress-inactive: #e9f0f0;

// Used by loading-spinner
$blue-border: $white;