<div class="search-navigation" ng-if="$ctrl.partOfSearch">
    <div class="row-fluid">
        <div class="span3">
            <a ui-sref="search.page">Tilbage til søgeresultater</a>
        </div>

        <div class="span3">
            <span>Resultat {{ $ctrl.index }} af {{ $ctrl.numFound }}</span>
        </div>

        <div class="span3 offset3 text-right">
            <div class="search-navigation__buttons">
                <button class="button search-navigation__button" ng-click="$ctrl.prev()" ng-disabled="$ctrl.disablePrev()">Forrige</button>
                <button class="button search-navigation__button" ng-click="$ctrl.next()" ng-disabled="$ctrl.disableNext()">Næste</button>
            </div>
        </div>
    </div>
</div>