<nav class="nav-pagination" aria-label="Paginering under resultater">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" ng-class="{'disabled': $ctrl.currentPage === 0}" href ng-click="$ctrl.prev()">
                <span class="sr-only">Tilbage</span>
                <svg feather-icon icon="'arrow-left'"></svg>
            </a>
        </li>
        <li ng-if="$ctrl.currentPage > 2" class="page-item"><a class="page-link" href ng-click="$ctrl.goToPage({page: 0})">1</a></li>
        <li ng-if="$ctrl.currentPage > 2" class="page-item disabled">
            <div class="page-link"> — </div>
        </li>
        <li class="page-item" ng-repeat="page in $ctrl.pagination"
            ng-class="{ 'active': $ctrl.currentPage === page.page }">
            <a class="page-link" href ng-click="$ctrl.goToPage({page: page.page})">{{ page.label }}</a>
        </li>
        <li ng-if="$ctrl.currentPage < $ctrl.total - 3" class="page-item disabled">
            <div class="page-link"> — </div>
        </li>
        <li ng-if="$ctrl.currentPage < $ctrl.total - 3" class="page-item"><a class="page-link" href ng-click="$ctrl.goToPage({page: $ctrl.total - 1})">{{ $ctrl.total }}</a></li>
        <li class="page-item">
            <a class="page-link" href ng-click="$ctrl.next()">
                <span class="sr-only">Frem</span>
                <svg feather-icon icon="'arrow-right'"></svg>
            </a>
        </li>
    </ul>
</nav>