h1 {
    margin-top: 0;
}

h2 {
    font-size: 18px;

    margin-top: 5px;
}

h3 {
    font-size: 16px;

    margin-top: 0;
    margin-bottom: 3px;
}

ul.list-unstyled + ul.list-unstyled {
    margin-top: -$gutter / 2;
}