<section>
<div class="row">
    <div class="col-sm-12">
        <h2>Ret fejl i kilde</h2>
        <p>Herunder er de fejlmeldte indtastninger markeret med gult. Ret fejlene i felterne og klik ”ok”.</p>
    </div>    
    <div class="col-sm-12">
        <h3>Udfyldt</h3>  

        <ul class="list-unstyled field-list" ng-repeat="(key, value) in values[mainProperty]">
            <li class="field-list__item">
                
                <span ng-if="schema.properties[mainProperty].properties[key].type === 'string'">
                    <a tabindex="1" href ng-click="toggleEditExistingValue(key)">
                        <span class="summary-item">
                            <span class="summary-item__label">{{schema.properties[mainProperty].properties[key].title}}</span>
                            <span class="summary-item__field">{{value}}
                                <span class="icon glyphicon glyphicon-pencil"></span>
                             </span>
                        </span>
                    </a>

                    <div class="row" ng-if="isEditing(key)">
                    
                        <div class="col-sm-12">
                            <form sf-schema="schema" sf-form="[mainProperty + '.' + key]" sf-model="values" sf-options="sfDefaults"></form>
                        </div>                    

                        <div class="col-sm-12 text-right">
                            <button tabindex="1" type="button" class="btn btn-default" ng-click="updateField(key)">
                                {{TEXT.BUTTON.OK}}
                            </button>
                        </div>
                    </div>
                </span>

                 <span ng-if="schema.properties[mainProperty].properties[key].type === 'object'">

                    <span ng-repeat="(subkey, subvalue) in schema.properties[mainProperty].properties[key].properties" ng-if="value[subkey] !== undefined">

                        <a tabindex="1" href ng-click="toggleEditExistingValue(mainProperty + '.' + key + '.' + subkey)">
                            
                            <span class="summary-item">
                                <span class="summary-item__label">{{subvalue.title}}</span>
                                <span class="summary-item__field">{{value[subkey]}}
                                    <span class="icon glyphicon glyphicon-pencil"></span>                        
                                 </span>
                            </span>
                        </a>

                        <div class="row" ng-if="isEditing(mainProperty + '.' + key + '.' + subkey)">
                            <div class="col-sm-12">                                    
                                <form sf-schema="schema" sf-form="[mainProperty + '.' + key + '.' + subkey]" sf-model="values" sf-options="sfDefaults"></form>
                            </div>                    

                            <div class="col-sm-12 text-right">
                                <button tabindex="1" type="button" class="btn btn-default" ng-click="updateField(key + '.' + subkey)">
                                    {{TEXT.BUTTON.OK}}
                                </button>
                            </div>
                        </div>
                    </span>
                </span>

                <span ng-if="schema.properties[mainProperty].properties[key].type == 'array'">
                
                    <span class="summary-item__label">{{schema.properties[mainProperty].properties[key].title}}</span>
                    <ul>
                        <!-- Filter out null values, ie. items that were added, but never filled out -->
                        <li ng-repeat="val in values[mainProperty][key]">
                            <a href ng-click="toggleEditExistingValue(key)">
                                <span ng-repeat="(key, value) in val">
                                    <span ng-if="key !== 'id'">
                                        {{value}}
                                    </span>
                                </span>
                            <span class="icon glyphicon glyphicon-pencil"></span> </a>
                        </li>
                    </ul>
                    <div class="row" ng-if="isEditing(key)">
                    
                        <div class="col-sm-12">
                            <form sf-schema="schema" sf-form="[mainProperty + '.' + key]" sf-model="values"></form>
                        </div>                    

                        <div class="col-sm-12 text-right">
                            <button tabindex="1" type="button" class="btn btn-default" ng-click="updateField(key)">
                                {{TEXT.BUTTON.OK}}
                            </button>
                        </div>
                    </div>
                            
                </span>

            </li>
        </ul>

    </div>
    
</div>
</section>