<section class="update-fields">

    <div class="row">
        <div class="col-sm-12">
            <h2>Ret fejl i kilde</h2>
            <p>Herunder er de fejlmeldte indtastninger markeret med rødt ikon. Ret fejlene i felterne og klik "Opdater" nedenfor.</p>
        </div>
        <div class="col-sm-12">

            <h3>Udfyldt</h3>

            <ul class="list-unstyled field-list">
                <li class="field-list__item">
                    <a href tabindex="1" class="no-underline" tabindex="-1" ui-sref=".selection">
                        <span class="summary-item">
                            <span class="summary-item__label">Udsnit</span>
                            <span class="summary-item__field">
                                Er placeret
                                <span class="icon icon__edit"></span>
                            </span>
                        </span>
                    </a>
                </li>
            </ul>

            <ul class="list-unstyled field-list" ng-repeat="field in summaryFields">

                <li class="field-list__item" ng-if="field.schema.type === 'string' || field.schema.type === 'number' || field.schema.type === 'date'">
                    <a tabindex="1" href class="no-underline" ng-click="toggleEditExistingValue(field.key, values[mainProperty].id)">
                        <span class="summary-item">
                            <span class="summary-item__label">{{field.schema.title}}</span>
                            <span class="summary-item__field">{{lookupFieldValue(field.key)}}
                                <span class="icon icon__edit" ng-if="hasErrorReported[field.key].deleted !== 0"></span>
                                <span class="glyphicon glyphicon-exclamation-sign icon__error" ng-if="hasErrorReported[field.key].deleted === 0"></span>
                             </span>
                        </span>
                    </a>

                    <div class="row update-schema-form" ng-if="isEditing(field.key + values[mainProperty].id)">

                        <div class="col-sm-12">
                            <h1>hov</h1>
                            <form name="singleFieldForm" sf-schema="schema" sf-form="[field.key]" sf-model="valueCopy[field.key]" sf-options="sfDefaults"></form>
                        </div>

                        <div class="col-sm-12" ng-if="hasErrorReported[field.key].deleted === 0">

                            <label>Kommentar</label>
                            <p>
                                {{hasErrorReported[field.key].comment}}
                            </p>

                            <div class="text-right">

                                <button
                                    tabindex="1"
                                    title="Sletter fejlrapporten og beholder værdien"
                                    type="button"
                                    class="btn btn-default"
                                    ng-if="hasErrorReported[field.key].deleted === 0"
                                    ng-click="rejectErrorReport(hasErrorReported[field.key].id, field.key, values[mainProperty].id)">
                                    {{TEXT.BUTTON.NOTERROR}}
                                </button>

                                <button
                                    ng-if="lookupFieldValue(field.key) && field.schema.isRequired !== '1'"
                                    tabindex="1"
                                    title="Sletter værdien og feltet"
                                    type="button" class="btn btn-default"
                                    ng-click="removeFieldValue(field.key, values[mainProperty].id, hasErrorReported[field.key].id)">
                                    {{TEXT.BUTTON.DELETE}}
                                </button>
                                <button
                                    ng-disabled="singleFieldForm.$invalid"
                                    tabindex="1"
                                    title="Opdaterer værdien og sletter fejlrapporten"
                                    type="button"
                                    class="btn btn-default"
                                    ng-click="updateValues(field.key, values[mainProperty].id, hasErrorReported[field.key].id)">
                                    Ret
                                </button>
                                <button
                                    tabindex="1"
                                    title="Luk, uden at ændre"
                                    type="button"
                                    class="btn btn-default"
                                    ng-click="toggleEditExistingValue(field.key, values[mainProperty].id)">
                                    {{TEXT.BUTTON.CANCEL}}
                                </button>
                            </div>

                        </div>

                        <div class="col-sm-12 text-right" ng-if="hasErrorReported[field.key].deleted !== 0">

                            <button
                                ng-if="lookupFieldValue(field.key) && field.schema.isRequired !== '1'"
                                tabindex="1"
                                title="Sletter værdien og feltet"
                                type="button"
                                class="btn btn-default"
                                ng-click="removeFieldValue(field.key, values[mainProperty].id)">
                                {{TEXT.BUTTON.DELETE}}
                            </button>
                            <button
                                ng-disabled="singleFieldForm.$invalid"
                                tabindex="1"
                                title="Opdaterer værdien og sletter fejlrapporten"
                                type="button"
                                class="btn btn-default"
                                ng-click="updateValues(field.key, values[mainProperty].id)">
                                Ret
                            </button>
                            <button
                                tabindex="1"
                                title="Luk, uden at ændre"
                                type="button"
                                class="btn btn-default"
                                ng-click="toggleEditExistingValue(field.key, values[mainProperty].id)">
                                {{TEXT.BUTTON.CANCEL}}
                            </button>
                        </div>
                    </div>
                </li>

                <li class="field-list__item" ng-if="field.schema.type === 'object'">

                    <a tabindex="-1" href ng-click="toggleEditExistingValue(field.key)">
                        <span class="summary-item">
                            <span class="summary-item__label">{{field.schema.properties[field.realKey].title}}</span>
                            <span class="summary-item__field">{{lookupFieldValue(field.key)}}
                                <span class="icon icon__edit"></span>
                             </span>
                        </span>
                    </a>

                    <div class="row update-schema-form" ng-if="isEditing(field.key)">

                        <div class="col-sm-12">
                            <form name="singleFieldForm" sf-schema="schema" sf-form="[field.key]" sf-options="sfDefaults" sf-model="valueCopy[field.key]"></form>
                        </div>

                        <div class="col-sm-12" ng-if="hasErrorReported[field.key]">

                            <div class="update-schema-form__error" ng-repeat="report in hasErrorReported[field.key]">
                                <label>Kommentar</label>
                                <p>
                                    {{report.comment}}
                                </p>

                                <div class="col-sm-12 text-right">
                                    <button
                                        tabindex="1"
                                        title="Sletter fejlrapporten og beholder værdien"
                                        type="button"
                                        class="btn btn-default"
                                        ng-if="hasErrorReported[field.key][0].deleted === 0"
                                        ng-click="rejectErrorReport(report.id, field.key)">
                                        {{TEXT.BUTTON.NOTERROR}}
                                    </button>
                                    <button
                                        ng-if="lookupFieldValue(field.key)"
                                        tabindex="1"
                                        title="Sletter værdien og feltet"
                                        type="button"
                                        class="btn btn-default"
                                        ng-click="removeFieldValue(field.key, undefined, report.id)">
                                        {{TEXT.BUTTON.DELETE}}
                                    </button>
                                    <button
                                        ng-disabled="singleFieldForm.$invalid"
                                        tabindex="1"
                                        title="Opdaterer værdien og sletter fejlrapporten"
                                        type="button"
                                        class="btn btn-default"
                                        ng-click="updateValues(field.key, undefined, report.id)">
                                        Ret
                                    </button>
                                    <button
                                        tabindex="1"
                                        title="Luk, uden at ændre"
                                        type="button"
                                        class="btn btn-default"
                                        ng-click="toggleEditExistingValue(field.key)">
                                        {{TEXT.BUTTON.CANCEL}}
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 text-right" ng-if="!hasErrorReported[field.key]">
                            <button
                                ng-if="lookupFieldValue(field.key)"
                                tabindex="1"
                                title="Sletter værdien og feltet"
                                type="button"
                                class="btn btn-default"
                                ng-click="removeFieldValue(field.key)">
                                {{TEXT.BUTTON.DELETE}}
                            </button>
                            <button
                                ng-disabled="singleFieldForm.$invalid"
                                tabindex="1"
                                title="Opdaterer værdien"
                                type="button"
                                class="btn btn-default"
                                ng-click="updateValues(field.key)">
                                Ret
                            </button>
                            <button
                                tabindex="1"
                                title="Luk, uden at ændre"
                                type="button"
                                class="btn btn-default"
                                ng-click="toggleEditExistingValue(field.key)">
                                {{TEXT.BUTTON.CANCEL}}
                            </button>
                        </div>
                    </div>

                </li>

                <li class="field-list__item" ng-if="field.schema.type === 'array'">

                    <a href tabindex="1" class="no-underline" ng-click="toggleEditExistingValue(field.key)">
                        <span class="summary-item__label">{{field.schema.title}}</span>
                        <span class="icon icon__edit" ng-if="!hasErrorReported[field.key].length > 0"></span>
                        <span class="glyphicon glyphicon-exclamation-sign icon__error" ng-if="hasErrorReported[field.key].length > 0"></span>
                    </a>

                    <ul class="list-unstyled">

                        <li>

                            <span>

                                <ul class="list-unstyled">
                                    <li ng-repeat="row in lookupFieldValue(field.key)">
                                        <a tabindex="1" href ng-click="toggleEditExistingValue(field.key)">
                                            {{getTextFromArrayField(row, field.schema.items.properties)}}
                                        </a>
                                    </li>
                                </ul>

                                <div class="row update-schema-form" ng-if="isEditing(field.key)">

                                    <div class="col-sm-12">
                                        <form name="singleFieldForm" sf-schema="schema" sf-form="[field.key]" sf-model="valueCopy[field.key]" sf-options="sfDefaults"></form>
                                    </div>

                                    <div class="col-sm-12" ng-if="hasErrorReported[field.key]">

                                        <div class="error-report-controls" ng-repeat="report in hasErrorReported[field.key]">

                                            <label>Kommentar <span class="small">({{report.field_formName}} - {{report.original_value || 'Ingen nuværende værdi'}})</span></label>
                                            <p>
                                                {{report.comment}}
                                            </p>
                                            <div class="text-right" ng-if="hasErrorReported[field.key]">
                                                <button
                                                    tabindex="1"
                                                    title="Sletter fejlrapporten og beholder værdien"
                                                    type="button"
                                                    class="btn btn-default"
                                                    ng-click="rejectErrorReport(report.id, field.key)">
                                                    {{TEXT.BUTTON.NOTERROR}}
                                                </button>

                                                <button
                                                    ng-disabled="singleFieldForm.$invalid"
                                                    tabindex="1"
                                                    title="Opdaterer værdien og sletter fejlrapporten"
                                                    type="button"
                                                    class="btn btn-default"
                                                    ng-click="updateValues(field.key, undefined, report.id)">
                                                    Ret
                                                </button>
                                                <button
                                                    tabindex="1"
                                                    title="Luk, uden at ændre"
                                                    type="button"
                                                    class="btn btn-default"
                                                    ng-click="toggleEditExistingValue(field.key)">
                                                    {{TEXT.BUTTON.CANCEL}}
                                                </button>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-sm-12 text-right" ng-if="!hasErrorReported[field.key]">

                                        <button
                                            ng-disabled="singleFieldForm.$invalid"
                                            tabindex="1"
                                            title="Opdaterer værdien og sletter fejlrapporten"
                                            type="button"
                                            class="btn btn-default"
                                            ng-click="updateValues(field.key)">
                                            Ret
                                        </button>
                                        <button
                                            tabindex="1"
                                            title="Luk, uden at ændre"
                                            type="button"
                                            class="btn btn-default"
                                            ng-click="toggleEditExistingValue(field.key)">
                                            {{TEXT.BUTTON.CANCEL}}
                                        </button>
                                    </div>
                                </div>

                            </span>

                        </li>
                    </ul>
                </li>

            </ul>

        </div>

        <div class="col-sm-12">
            <button ng-disabled="saving" tabindex="1" type="button" class="btn btn-primary btn-block" ng-click="updatePost()">
                <span ng-show="saving" class="loading-spinner"></span>
                <span ng-hide="saving">Opdatér post</span>
            </button>
        </div>

        <div class="col-sm-12" ng-if="errorReports.length === 0">
            <share-link label="'Kopier link til post'" share-link="shareLink" button-text="'Del'"></share-link>
        </div>

    </div>

</section>
