<section class="update-fields">

    <div class="row">
        <div class="col-sm-12">
            <h2>Ret fejl i kilde</h2>
            <p>Herunder er de fejlmeldte indtastninger markeret med rødt ikon. Ret fejlene i felterne og klik "Opdater" nedenfor.</p>
        </div>
        <div class="col-sm-12">

            <h3>Udfyldt</h3>

            <ul class="list-unstyled field-list">
                <li class="field-list__item">
                    <span class="summary-item">
                        <span class="summary-item__label">Udsnit</span>
                        <span class="summary-item__field">
                            <a href tabindex="-1" ui-sref=".selection">
                                Er placeret
                                <span class="icon icon__edit"></span>
                            </a>
                            <div class="row" ng-if="showSelectionControls">
                                <div class="col-sm-12">
                                    <p>Ret udsnittet i kilden.</p>
                                </div>
                                <div class="col-sm-12 text-right">
                                    <button class="btn btn-default" ng-click="acceptArea()">
                                        {{TEXT.BUTTON.OK}}
                                    </button>
                                </div>
                            </div>
                        </span>
                    </span>

                </li>
            </ul>

            <ul class="list-unstyled field-list" ng-repeat="(key, value) in values[mainProperty]">

                <li class="field-list__item" ng-if="schema.properties[mainProperty].properties[key].type === 'string' || schema.properties[mainProperty].properties[key].type === 'number' || schema.properties[mainProperty].properties[key].type === 'date'">

                    <a tabindex="1" href ng-click="toggleEditExistingValue(key, values[mainProperty].id)">
                        <span class="summary-item">
                            <span class="summary-item__label">{{schema.properties[mainProperty].properties[key].title}}</span>
                            <span class="summary-item__field">{{value}}
                                <span class="icon icon__edit" ng-if="hasErrorReported[mainProperty + '.' + key].deleted !== 0"></span>
                                <span class="glyphicon glyphicon-exclamation-sign icon__error" ng-if="hasErrorReported[mainProperty + '.' + key].deleted === 0"></span>
                             </span>
                        </span>
                    </a>

                    <div class="row update-schema-form" ng-if="isEditing(key + values[mainProperty].id)">

                        <div class="col-sm-12">
                            <form name="singleFieldForm" sf-schema="schema" sf-form="[mainProperty + '.' + key]" sf-model="valueCopy[key]" sf-options="sfDefaults"></form>
                        </div>

                        <div class="col-sm-12" ng-if="hasErrorReported[mainProperty + '.' + key].deleted === 0">

                            <label>Kommentar</label>
                            <p>
                                {{hasErrorReported[mainProperty + '.' + key].comment}}
                            </p>

                            <div class="text-right">

                                <button
                                    tabindex="1"
                                    title="Sletter fejlrapporten og beholder værdien"
                                    type="button"
                                    class="btn btn-default"
                                    ng-if="hasErrorReported[mainProperty + '.' + key].deleted === 0"
                                    ng-click="rejectErrorReport(hasErrorReported[mainProperty + '.' + key].id, key, values[mainProperty].id)">
                                    {{TEXT.BUTTON.NOTERROR}}
                                </button>
                                <button ng-if="schema.properties[mainProperty].properties[key].isRequired !== '1'" tabindex="1" title="Sletter værdien og feltet" type="button" class="btn btn-default" ng-click="removeFieldValue(key, values[mainProperty].id, hasErrorReported[mainProperty + '.' + key].id)">
                                    {{TEXT.BUTTON.DELETE}}
                                </button>
                                <button ng-disabled="singleFieldForm.$invalid" tabindex="1" title="Opdaterer værdien og sletter fejlrapporten" type="button" class="btn btn-default" ng-click="updateValues(key, values[mainProperty].id, hasErrorReported[mainProperty + '.' + key].id)">
                                    Ret
                                </button>
                                <button tabindex="1" title="Luk, uden at ændre" type="button" class="btn btn-default" ng-click="toggleEditExistingValue(key, values[mainProperty].id)">
                                    {{TEXT.BUTTON.CANCEL}}
                                </button>
                            </div>

                        </div>

                        <div class="col-sm-12 text-right" ng-if="hasErrorReported[mainProperty + '.' + key].deleted !== 0">
                            <button ng-if="schema.properties[mainProperty].properties[key].isRequired !== '1'" tabindex="1" title="Sletter værdien og feltet" type="button" class="btn btn-default" ng-click="removeFieldValue(key, values[mainProperty].id)">
                                {{TEXT.BUTTON.DELETE}}
                            </button>
                            <button ng-disabled="singleFieldForm.$invalid" tabindex="1" title="Opdaterer værdien og sletter fejlrapporten" type="button" class="btn btn-default" ng-click="updateValues(key, values[mainProperty].id)">
                                Ret
                            </button>
                            <button tabindex="1" title="Luk, uden at ændre" type="button" class="btn btn-default" ng-click="toggleEditExistingValue(key, values[mainProperty].id)">
                                {{TEXT.BUTTON.CANCEL}}
                            </button>
                        </div>
                    </div>

                </li>

                <li class="field-list__item" ng-if="schema.properties[mainProperty].properties[key].type === 'object'">

                    <span class="summary-item">
                        <span class="summary-item__label">{{schema.properties[mainProperty].properties[key].title}}</span>
                    </span>

                    <span style="display: block" ng-repeat="(subkey, subvalue) in schema.properties[mainProperty].properties[key].properties">

                        <a tabindex="1" href ng-click="toggleEditExistingValue(key + '.' + subkey)">

                            <span class="summary-item">
                                <span class="summary-item__label">{{subvalue.title}}</span>
                                <span class="summary-item__field">{{value[subkey]}}
                                    <span class="icon icon__edit" ng-if="hasErrorReported[mainProperty + '.' + key + '.' + subkey][0].deleted !== 0"></span>
                                    <span class="glyphicon glyphicon-exclamation-sign icon__error" ng-if="hasErrorReported[mainProperty + '.' + key + '.' + subkey][0].deleted === 0"></span>
                                 </span>
                            </span>
                        </a>

                        <div class="row update-schema-form" ng-if="isEditing(key + '.' + subkey)">

                            <div class="col-sm-12">
                                <form name="singleFieldForm" sf-schema="schema" sf-form="[mainProperty + '.' + key + '.' + subkey]" sf-options="sfDefaults" sf-model="valueCopy[key + '.' + subkey]"></form>
                            </div>

                            <div class="col-sm-12" ng-if="hasErrorReported[mainProperty + '.' + key + '.' + subkey]">

                                <div class="update-schema-form__error" ng-repeat="report in hasErrorReported[mainProperty + '.' + key + '.' + subkey]">
                                    <label>Kommentar</label>
                                    <p>
                                        {{report.comment}}
                                    </p>

                                    <div class="col-sm-12 text-right">
                                        <button
                                            tabindex="1"
                                            title="Sletter fejlrapporten og beholder værdien"
                                            type="button"
                                            class="btn btn-default"
                                            ng-if="hasErrorReported[mainProperty + '.' + key + '.' + subkey][0].deleted === 0"
                                            ng-click="rejectErrorReport(report.id, key + '.' + subkey)">
                                            {{TEXT.BUTTON.NOTERROR}}
                                        </button>
                                        <button tabindex="1" title="Sletter værdien og feltet" type="button" class="btn btn-default" ng-click="removeFieldValue(key + '.' + subkey, undefined, report.id)">
                                            {{TEXT.BUTTON.DELETE}}
                                        </button>
                                        <button ng-disabled="singleFieldForm.$invalid" tabindex="1" title="Opdaterer værdien og sletter fejlrapporten" type="button" class="btn btn-default" ng-click="updateValues(key + '.' + subkey, undefined, report.id)">
                                            Ret
                                        </button>
                                        <button tabindex="1" title="Luk, uden at ændre" type="button" class="btn btn-default" ng-click="toggleEditExistingValue(key + '.' + subkey)">
                                            {{TEXT.BUTTON.CANCEL}}
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 text-right" ng-if="!hasErrorReported[mainProperty + '.' + key + '.' + subkey]">
                                <button tabindex="1" title="Sletter værdien og feltet" type="button" class="btn btn-default" ng-click="removeFieldValue(key + '.' + subkey)">
                                    {{TEXT.BUTTON.DELETE}}
                                </button>
                                <button ng-disabled="singleFieldForm.$invalid" tabindex="1" title="Opdaterer værdien og sletter fejlrapporten" type="button" class="btn btn-default" ng-click="updateValues(key + '.' + subkey)">
                                    Ret
                                </button>
                                <button tabindex="1" title="Luk, uden at ændre" type="button" class="btn btn-default" ng-click="toggleEditExistingValue(key + '.' + subkey)">
                                    {{TEXT.BUTTON.CANCEL}}
                                </button>
                            </div>
                        </div>

                    </span>
                </li>

                <li class="field-list__item" ng-if="schema.properties[mainProperty].properties[key].type == 'array'">

                    <span class="summary-item__label">{{schema.properties[mainProperty].properties[key].title}}</span>

                    <a href ng-click="toggleEditExistingValue(key)">
                        <span class="icon icon__edit" ng-if="!hasErrorReported[mainProperty + '.' + key].length > 0"></span>
                        <span class="glyphicon glyphicon-exclamation-sign icon__error" ng-if="hasErrorReported[mainProperty + '.' + key].length > 0"></span>
                    </a>

                    <ul class="list-unstyled">

                        <li>

                            <span>

                                <ul class="list-unstyled">
                                    <li ng-repeat="row in values[mainProperty][key]">
                                        <a href ng-click="toggleEditExistingValue(key)">{{getTextFromArray(row, key)}}</a>
                                    </li>
                                </ul>

                                <div class="row update-schema-form" ng-if="isEditing(key)">

                                    <div class="col-sm-12">
                                        <form name="singleFieldForm" sf-schema="schema" sf-form="[mainProperty + '.' + key]" sf-model="valueCopy[key]" sf-options="sfDefaults"></form>
                                    </div>

                                    <div class="col-sm-12" ng-if="hasErrorReported[mainProperty + '.' + key]">

                                        <div ng-repeat="report in hasErrorReported[mainProperty + '.' + key]">
                                            <label>Kommentar</label>
                                            <p>
                                                {{report.comment}}
                                            </p>
                                            <div class="text-right" ng-if="hasErrorReported[mainProperty + '.' + key]">
                                                <button tabindex="1" title="Sletter fejlrapporten og beholder værdien" type="button" class="btn btn-default" ng-click="rejectErrorReport(report.id, key)">
                                                    {{TEXT.BUTTON.NOTERROR}}
                                                </button>
                                                <button tabindex="1" title="Sletter værdien og feltet" type="button" class="btn btn-default" ng-click="removeFieldValue(key, undefined, report.id)">
                                                    {{TEXT.BUTTON.DELETE}}
                                                </button>
                                                <button ng-disabled="singleFieldForm.$invalid" tabindex="1" title="Opdaterer værdien og sletter fejlrapporten" type="button" class="btn btn-default" ng-click="updateValues(key, undefined, report.id)">
                                                    Ret
                                                </button>
                                                <button tabindex="1" title="Luk, uden at ændre" type="button" class="btn btn-default" ng-click="toggleEditExistingValue(key)">
                                                    {{TEXT.BUTTON.CANCEL}}
                                                </button>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-sm-12 text-right" ng-if="!hasErrorReported[mainProperty + '.' + key]">
                                        <button tabindex="1" title="Sletter værdien og feltet" type="button" class="btn btn-default" ng-click="removeFieldValue(key)">
                                            {{TEXT.BUTTON.DELETE}}
                                        </button>
                                        <button ng-disabled="singleFieldForm.$invalid" tabindex="1" title="Opdaterer værdien og sletter fejlrapporten" type="button" class="btn btn-default" ng-click="updateValues(key)">
                                            Ret
                                        </button>
                                        <button tabindex="1" title="Luk, uden at ændre" type="button" class="btn btn-default" ng-click="toggleEditExistingValue(key)">
                                            {{TEXT.BUTTON.CANCEL}}
                                        </button>
                                    </div>
                                </div>

                            </span>

                        </li>
                    </ul>

                </li>

            </ul>

        </div>

        <div class="col-sm-12">
            <button ng-disabled="saving" tabindex="1" type="button" class="btn btn-primary btn-block" ng-click="updatePost()">
                <span ng-show="saving" class="loading-spinner"></span>
                <span ng-hide="saving">Opdatér post</span>
            </button>
        </div>

        <div class="col-sm-12" ng-if="errorReports.length === 0">
            <share-link label="'Kopier link til post'" share-link="shareLink" button-text="'Del'"></share-link>
        </div>

    </div>

</section>
