<div class="container-fluid post">

    <header class="row">
        <div class="col-12">
            <nav aria-label="Brødkrummesti">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Hjem</a></li>
                    <li class="breadcrumb-item"><a href="#">Søg</a></li>
                    <li class="breadcrumb-item"><a href="#">Søg person</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{$ctrl.data.firstnames}} {{$ctrl.data.lastname}} {{$ctrl.data.birthname}}</li>
                </ol>
            </nav>
        </div>
    </header>

    <section class="float-lg-left">
         <h2>{{$ctrl.data.firstnames}} {{$ctrl.data.lastname}} <span ng-if="$ctrl.data.birthname">{{$ctrl.data.birthname}}</span></h2>
        <h3>Erindring</h3>
    </section>

    <nav class="float-lg-right">
        <a href="#" class="btn btn-primary">Forrige</a>
        <a href="#" class="btn btn-primary">Næste</a>
    </nav>

    <div class="clearfix"></div>

    <section class="row">

        <div class="col-lg-6 order-lg-last">
            <h4>Kilden</h4>
            <div class="module-gallery">
                <div class="card text-white mb-3">
                    <div class="card-body">
                        <div class="col">
                            <a ng-href="{{$ctrl.getAssetHref()}}" target="_blank" class="button">Erindring</a>
                            <a ng-if="$ctrl.data.transcribed" ng-href="{{$ctrl.getTranscribedAssetHref()}}" target="_blank" class="button">Renskrift</a>
                        </div>
                        <div class="col">
                            <h5>Om kilden</h5>
                            <p>Omfang: {{$ctrl.data.extent}}<span ng-if="$ctrl.data.writeMethod">, {{$ctrl.data.writeMethod}}</span></p>
                            <p ng-if="$ctrl.data.dateOfCompletion">Registerbladet er udfyldt: {{$ctrl.data.dateOfCompletion | date:'dd-MM-yyyy' }}</p>
                            <p ng-if="$ctrl.data.specialRemarks">Særlige bemærkninger: {{$ctrl.data.specialRemarks}}</p>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h6>Afleveret i arkivet</h6>
                                <p>{{$ctrl.data.collectedYear}}</p>
                            </div>
                            <div class="col">
                                <h6>nr.</h6>
                                <p>{{$ctrl.data.erindring_number}}</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            
            <table class="table table-striped" aria-labelledby="data-personen">
                <caption class="sr-only">Data om erindringen</caption>
                <tbody>
                    <tr>
                        <th scope="row">
                            Omhandler årene
                        </th>
                        <td>
                            {{ $ctrl.data.period }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Født
                        </th>
                        <td>
                            {{ $ctrl.data.yearOfBirth }}
                            {{$ctrl.data.dateOfBirth | date:'dd-MM-yyyy' }}
                        </td>
                    </tr>
                    <tr>
                        <th ng-if="$ctrl.data.sex" scope="row">
                            Køn
                        </th>
                        <td>
                            {{$ctrl.data.sex}}<span ng-if="$ctrl.data.sex && $ctrl.data.civilstatus">, {{$ctrl.data.civilstatus}}</span><span ng-if="!$ctrl.data.sex && $ctrl.data.civilstatus">{{ $ctrl.data.civilstatus }}</span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Permalink
                        </th>
                        <td>
                            <span id="permalink" class="mr-2">{{$ctrl.permalink}}</span>
                            <a ng-attr-id="permalink_btn" ng-click="$ctrl.copy(); confirmed=true" class="btn btn-secondary btn-sm" ng-attr-data-clipboard-target="#permalink">Kopier <span class="sr-only"> permalink</span></a>
                            <span ng-if="confirmed" class="mr-2">Kopieret!</span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <h4 id="data-erhverv" ng-if="$ctrl.data.position || $ctrl.data.position_parent ||$ctrl.data.position_spouse"0>Erhverv</h4>
            <table class="table table-striped" aria-labelledby="data-erhverv" ng-if="$ctrl.data.position || $ctrl.data.position_parent ||$ctrl.data.position_spouse" >
                <caption class="sr-only">Data om Erhverv</caption>
                 <tbody>
                    <tr ng-if="$ctrl.data.position">
                        <th>
                            Erhverv
                        </th>
                        <td>
                            {{$ctrl.data.position}}
                        </td>
                    </tr>
                    <tr ng-if="$ctrl.data.position_parent">
                        <th>
                            Forældres erhverv
                        </th>
                        <td>
                            {{$ctrl.data.position_parent}}
                        </td>
                    </tr>
                    <tr ng-if="$ctrl.data.position_spouse">
                        <th>
                            Ægtefælles erhverv
                        </th>
                        <td>
                            {{$ctrl.data.position_spouse}}
                        </td>
                    </tr>
                </tbody>
            </table>

            <h4 id="data-sogekontekst" ng-if="$ctrl.data.highlighting.erindring_document_text">Søgekontekst</h4>
            <table role="list" class="table table-striped" aria-labelledby="data-sogekontekst" ng-if="$ctrl.data.highlighting.erindring_document_text">
                <caption class="sr-only">Teksten markeret med fed er det eller de ord, søgemaskinen har fundet</caption>
                <tbody>
                    <tr ng-repeat="highlight in $ctrl.data.highlighting.erindring_document_text">
                        <td role="listitem">
                            &hellip;<span ng-bind-html="highlight"></span>&hellip;
                        </td>
                    </tr>
                </tbody>
            </table>

            <h4 id="data-sogekontekst" ng-if="$ctrl.data.keywords && $ctrl.data.keywords.length > 0">Erindringen omhandler</h4>
            <table role="list" class="table table-striped" aria-labelledby="data-sogekontekst" ng-if="$ctrl.data.keywords && $ctrl.data.keywords.length > 0">
                <caption class="sr-only">Teksten markeret med fed er det eller de ord, søgemaskinen har fundet</caption>
                <tbody>
                    <tr ng-repeat="keyword in $ctrl.data.keywords track by $index">
                        <td role="listitem">
                            {{keyword}}
                        </td>
                    </tr>
                </tbody>
            </table>

            <h4 id="data-sogekontekst" ng-if="$ctrl.data.description">Beskrivelse</h4>
            <table role="list" class="table table-striped" aria-labelledby="data-sogekontekst" ng-if="$ctrl.data.description">
                <!-- <caption class="sr-only">Teksten markeret med fed er det eller de ord, søgemaskinen har fundet</caption> -->
                <tbody>
                    <tr>
                        <td role="listitem">
                            {{ $ctrl.data.description }}
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </section>
</div>
