<section class="post">

    <div class="post__head">
        <div class="post__item post__main post__alternate">

            <div class="post__tools">
                <a href="" ng-click="$ctrl.openErrorReporting()">Rapporter fejl</a>
            </div>

            <div class="post__header">
                <h2>
                    {{$ctrl.data.firstnames}} {{$ctrl.data.lastname}} <span ng-if="$ctrl.data.birthname">{{$ctrl.data.birthname}}</span>
                    <span class="post__collection">Erindring</span>
                </h2>
                <div class="post__infogroup">
                    <p ng-if="$ctrl.data.period"><strong>Omhandler årene:</strong> {{ $ctrl.data.period }}</p>
                </div>
                <div class="post__infogroup">
                    <p ng-if="$ctrl.data.yearOfBirth"><strong>Født:</strong> {{ $ctrl.data.yearOfBirth }}</p>
                </div>
                <div class="post__infogroup">
                    <p>
                        <span ng-if="$ctrl.data.sex"><strong>Køn:</strong> {{$ctrl.data.sex}}</span><span ng-if="$ctrl.data.sex && $ctrl.data.civilstatus">, {{$ctrl.data.civilstatus}}</span><span ng-if="!$ctrl.data.sex && $ctrl.data.civilstatus">{{ $ctrl.data.civilstatus }}</span>
                    </p>
                </div>

                <!-- Error reports -->
                <div ng-if="$ctrl.postErrors.length > 0" class="post__error">
                    <div>Denne post er fejlmeldt</div>
                    <a href ng-click="$ctrl.toggleErrorReports()">Læs mere</a>

                    <div class="post__error__message" ng-repeat="error in $ctrl.postErrors" ng-if="$ctrl.showErrorReports">
                        {{ error.label || 'Ukendt felt' }}: {{error.comment}}
                    </div>
                </div>
            </div>

            <div class="post__sharelink">
                <label for="permalink">Permalink:</label>
                <input id="permalink" class="input" type="text" ng-value="$ctrl.permalink"/><button ng-click="$ctrl.copy()" class="button">Kopier</button><span class="confirm">Kopieret</span>
            </div>
        </div>

        <div class="post__item post__viewer">
            <div class="post__links">
                <a ng-href="{{$ctrl.getAssetHref()}}" target="_blank" class="button">Erindring</a>
                <a ng-if="$ctrl.data.transcribed" ng-href="{{$ctrl.getTranscribedAssetHref()}}" target="_blank" class="button">Renskrift</a>
            </div>
        </div>
    </div>

    <div class="post__col">

        <div class="post__item" ng-if="$ctrl.data.position || $ctrl.data.position_parent ||$ctrl.data.position_spouse" >
            <h3 class="post__sectionheader">Erhverv</h3>
            <p ng-if="$ctrl.data.position"><strong>Erhverv:</strong> {{$ctrl.data.position}}</p>
            <p ng-if="$ctrl.data.position_parent"><strong>Forældres erhverv:</strong> {{$ctrl.data.position_parent}}</p>
            <p ng-if="$ctrl.data.position_spouse"><strong>Ægtefælles erhverv:</strong> {{$ctrl.data.position_spouse}}</p>
        </div>

        <div class="post__item" ng-if="$ctrl.data.highlighting.erindring_document_text">
            <h3 class="post__sectionheader">Dit søgeord er fundet i denne kontekst</h3>
            <p ng-repeat="highlight in $ctrl.data.highlighting.erindring_document_text">
                &hellip;<span ng-bind-html="highlight"></span>&hellip;
            </p>
        </div>

        <div class="post__item" ng-if="$ctrl.data.keywords && $ctrl.data.keywords.length > 0">
            <h3 class="post__sectionheader">Erindringen omhandler</h3>
            <p><span ng-repeat="keyword in $ctrl.data.keywords track by $index">{{keyword}}{{ $last ? '' : ', ' }}</span></p>
        </div>

        <div class="post__item" ng-if="$ctrl.data.description">
            <h3 class="post__sectionheader">Beskrivelse</h3>
            <p>{{ $ctrl.data.description }}</p>
        </div>
    </div>

    <div class="post__col post__alternate">

        <div class="post__item">
            <h3 class="post__sectionheader">Om kilden</h3>
            <p ng-if="$ctrl.data.collectedYear"><strong>Afleveret til arkivet i:</strong> {{ $ctrl.data.collectedYear }}</p>
            <p><strong>Nr.:</strong> {{$ctrl.data.erindring_number}}</p>
            <p><strong>Omfang:</strong> {{$ctrl.data.extent}}<span ng-if="$ctrl.data.writeMethod">, {{$ctrl.data.writeMethod}}</span></p>
            <p ng-if="$ctrl.data.containsPhotos"><strong>Indeholder fotos</strong></p>
        </div>
    </div>

</section>
