<div>
    <div class="row-fluid">
        <div class="span9">
            <h1 class="post__header">Registerblad</h1>
        </div>
        <div class="span3 text-right post__tools">
            <a href ng-hide="errorReportingEnabled" ng-click="toggleErrorReporting()" title="Rapporter fejl">
                Rapportér fejl <i class="sdk-icon report-error"></i>
            </a>
            <a href ng-show="errorReportingEnabled" ng-click="toggleErrorReporting()" title="Rapporter fejl">
                Afslut fejlrapportering <span class="post__closereporting"><i class="sdk-icon close"></i></span>
            </a>

            <a href ng-click="toggleEmptyFields()" title="Vis også tomme felter">
                <span ng-show="emptyFieldsEnabled">Skjul tomme felter</span>
                <span ng-hide="emptyFieldsEnabled">Vis også tomme felter</span>
            </a>
        </div>
    </div>

    <div class="row-fluid">

        <div class="span5">
            <div ng-repeat="field in post">
                <post-category ng-if="field.fields.length === 0" data="field" report="report(fieldData)" show-empty-fields="emptyFieldsEnabled" error-reporting="errorReportingEnabled"></post-category>
                <post-field ng-if="field.fields.length > 0" data="field" report="report(fieldData)" show-empty-fields="emptyFieldsEnabled" error-reporting="errorReportingEnabled"></post-field>
            </div>
        </div>

        <div class="span7">
            <div class="post__image">
                <zoom-image image-url="imageFront"></zoom-image>
                <span class="post__caption"></span>
            </div>
            <div class="post__links">
                <a ng-click="" class="button">Vis på politietsregisterblade.dk</a>
            </div>
        </div>
    </div>
</div>