<div>
    <div class="row">
        <div class="col-md-9">
            <h1 class="post__header">Erindring nr. {{ metadata.erindring_number }}</h1>
        </div>
        <div class="col-md-3 text-right post__tools">
            <a href ng-hide="errorReportingEnabled" ng-click="toggleErrorReporting()" title="Rapporter fejl">
                Rapportér fejl <i class="sdk-icon report-error"></i>
            </a>
            <a href ng-show="errorReportingEnabled" ng-click="toggleErrorReporting()" title="Rapporter fejl">
                Afslut fejlrapportering <span class="post__closereporting"><i class="sdk-icon close"></i></span>
            </a>

            <a href ng-click="toggleEmptyFields()" title="Vis også tomme felter">
                <span ng-show="emptyFieldsEnabled">Skjul tomme felter</span>
                <span ng-hide="emptyFieldsEnabled">Vis også tomme felter</span>
            </a>
        </div>
    </div>

    <div class="row">

        <div class="col-md-5">
            <div ng-repeat="field in post">
                <post-category ng-if="field.fields.length === 0" data="field" report="report(fieldData)"
                    show-empty-fields="emptyFieldsEnabled" error-reporting="errorReportingEnabled"></post-category>
                <post-field ng-if="field.fields.length > 0" data="field" report="report(fieldData)"
                    show-empty-fields="emptyFieldsEnabled" error-reporting="errorReportingEnabled"></post-field>
            </div>
        </div>

        <div class="col-md-7">
            <div class="post__image">
                <canvas></canvas>
                <span class="post__caption">Erindring nr. {{metadata.erindring_number}}, s. {{pageNum}} ud af
                    {{pdfDoc.numPages}}</span>
            </div>
            <div class="post__links">
                <a ng-click="onPrevPage()" class="button">Forrige side</a>
                <a ng-click="onNextPage()" class="button">Næste side</a>
            </div>
        </div>
    </div>
</div>