<div class="pagination sdk-pagination">
    <ul>
        <!-- arrows -->
        <li class="sdk-pagination__arrow" ng-class="{'disabled': currentPage === 0}">
            <a href="" ng-click="callGoToPage(0)">&#x00AB;</a>
        </li>
        <li class="sdk-pagination__arrow" ng-class="{'disabled': !canGoBack10() }">
            <a href="" ng-click="prev(10)">10 tilbage</a>
        </li>
        <li class="sdk-pagination__arrow" ng-class="{'disabled': currentPage === 0}">
            <a href="" ng-click="prev(1)">&#x2039;</a>
        </li>
        <li class="sdk-search__divider" ng-if="currentPage > 2">
            <a href="" class="disabled">...</a></span>
        </li>

        <!-- pages -->
        <li ng-repeat="page in pagination.pages" ng-class="{ 'active': currentPage === page.number }">
            <a href="" ng-click="callGoToPage(page.number)">{{page.label}}</a>
        </li>

        <!-- arrows -->
        <li class="sdk-search__divider" ng-if="currentPage !== pagination.total - 1">
            <a href="" class="disabled">...</a></span>
        </li>
        <li class="sdk-pagination__arrow" ng-class="{'disabled': currentPage === pagination.total - 1}">
            <a href="" ng-click="next(1)">&#x203A;</a>
        </li>
        <li class="sdk-pagination__arrow" ng-class="{'disabled': !canGoForward10() }">
            <a href="" ng-click="next(10)">10 frem</a>
        </li>
        <li class="sdk-pagination__arrow" ng-class="{'disabled': currentPage === pagination.total - 1}">
            <a href="" ng-click="callGoToPage(pagination.total - 1)">&#x00BB;</a>
        </li>

    </ul>
</div>
