<section>
    <h4>{{data.label}}</h4>

    <!-- <button ng-click="goToEditor(data)">Til kildetaster</button> -->

    <div class="postfield" ng-repeat="field in data.fields" ng-class="{ error: field.error }">

        <div ng-if="!isArray(field)">
            
            <strong>{{field.label}}</strong>
            <span>{{field.value}}</span> 
            <a href ng-if="errorReporting && !field.error" ng-click="toggleErrorReporting(field)">
                <i class="icon-exclamation-sign"></i>
            </a>
            
            <span ng-if="field.error">            
                <i class="icon-exclamation-sign" title="{{field.error.comment}}"></i>
            </span>

            <div class="" ng-if="field.errorAccepted">
                Tak for din fejlmelding
            </div>

            <div class="error-reporting" ng-if="errorReporting && field.showErrorForm">
                <div class="row-fluid">
                    <div class="span12">
                        <textarea ng-model="field.comment"></textarea>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12 text-right">
                        <a href ng-click="toggleErrorReporting(field)">Fortryd</a>
                        
                        <button class="button" ng-click="doReport(data, field)">Indberet fejl</button>
                    </div>
                </div>
            </div>

        </div>
        
        <div ng-if="isArray(field)">
            {{field[0].value}} <a href ng-if="errorReporting" ng-click="toggleErrorReporting(field[0])"><i class="icon-exclamation-sign"></i></a>

            <div class="" ng-if="field[0].errorAccepted">
                Tak for din fejlmelding
            </div>

            <div class="error-reporting" ng-if="errorReporting && field[0].showErrorForm">
                <div class="row-fluid">
                    <div class="span12">
                        <textarea ng-model="field[0].comment"></textarea>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12 text-right">
                        <a href ng-click="toggleErrorReporting(field[0])">Fortryd</a>
                        
                        <button class="button" ng-click="doReport(data, field[0])">Indberet fejl</button>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <hr>
</section>
