<section>
    <h4>{{data.label}}</h4>

    <div class="postfield" ng-repeat="field in data.fields">

        <div ng-if="!isArray(field)" ng-show="fieldVisibility(field)" ng-class="{
            error: field.error,
            reporting: field.showErrorForm
        }">

            <strong>{{field.label}}</strong>

            <div ng-if="field.html">
                <p>...<ng-bind-html ng-bind-html="field.value"></ng-bind-html>...</p>
            </div>
            <div ng-if="!field.html">
                <span ng-hide="errorReporting && !field.error">
                    {{realValue(field) || 'Dette felt er ikke udfyldt'}}
                </span>
            </div>

            <a href ng-if="errorReporting && !field.error" class="postfield__report-link" ng-class="{ postfield__reporting: field.showErrorForm }" ng-click="toggleErrorReporting(field)">
                <span>{{realValue(field) || 'Dette felt er ikke udfyldt'}}</span>
                <i class="sdk-icon pencil"></i>
            </a>

            <span ng-if="field.error">
                <i class="sdk-icon report-error" title="{{field.error.comment}}"></i>
            </span>

            <div class="error-reporting text-center" ng-if="field.errorAccepted">
                <i class="sdk-icon green-checkmark"></i>
                <div>Tak for din fejlmelding</div>
            </div>

            <div class="error-reporting" ng-if="errorReporting && field.showErrorForm">
                <div class="row">
                    <div class="col-md-12">
                        <textarea ng-model="field.comment"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button class="button" ng-click="doReport(data, field)">Indberet fejl</button>
                        <a href ng-click="toggleErrorReporting(field)">Fortryd</a>
                    </div>
                </div>
            </div>

        </div>

        <div ng-if="isArray(field)">

            <span ng-repeat="subfield in field" ng-if="fieldVisibility(subfield)" ng-class="{ error: subfield.error }">

                <span ng-hide="errorReporting && !subfield.error">

                    {{subfield.value || subfield.label + ' er ikke udfyldt'}}

                    <span ng-if="subfield.error">
                        <i class="sdk-icon report-error" title="{{subfield.error.comment}}"></i>
                    </span>

                    {{$last ? '' : ','}}
                </span>

                <a href ng-if="errorReporting && !subfield.error" class="postfield__report-link"  ng-click="toggleErrorReporting(subfield)">
                    <span>{{subfield.value || subfield.label + ' er ikke udfyldt'}}</span><i class="sdk-icon pencil"></i>
                </a>

                <div class="error-reporting text-center" ng-if="subfield.errorAccepted">
                    <i class="sdk-icon green-checkmark"></i>
                    <div>Din feedback er sendt</div>
                </div>

                <div class="error-reporting" ng-if="errorReporting && subfield.showErrorForm">
                    <div class="row">
                        <div class="col-md-12">
                            <textarea ng-model="subfield.comment"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <button class="button" ng-click="doReport(data, subfield)">Indberet fejl</button>
                            <a href ng-click="toggleErrorReporting(subfield)">Fortryd</a>
                        </div>
                    </div>
                </div>

            </span>

        </div>

    </div>

    <hr>
</section>
