<a href class="search-container__row" ng-click="goToPost()">

    <div class="search-container__item">
        <div>
            <text-name firstnames="data.firstnames" lastname="data.lastname" birthname="data.birthname"></text-name>
            <text-date prefix="Født" date="data.dateOfBirth"></text-date>
            <text-date prefix="Død" date="data.dateOfDeath"></text-date>
            <text-age years="data.ageYears" months="data.ageMonths" weeks="data.ageWeeks" days="data.ageDays" hours="data.ageHours"></text-age>
            <text-position position="position" ng-repeat="position in data.positions"></text-position>
        </div>
    </div>

    <div class="search-container__item">
        <div ng-if="metadata.collection_id == 1">
            <text-address address="data.addresses"></text-address>
            {{data.adressOutsideCph}}
        </div>

        <div ng-if="metadata.station">
            <text-address address="address" ng-repeat="address in data.addresses"></text-address>
        </div>
    </div>

    <div class="search-container__item">
        <div>
            <div ng-if="data.deathcauses.length > 0">
                <strong>Dødsårsag:</strong>
                <text-deathcause deathcause="deathcause" ng-repeat="deathcause in data.deathcauses"></text-deathcause>
            </div>
            <div ng-if="data.deathplace">
                <strong>Dødssted:</strong>
                <div>
                    {{data.deathplace}}
                </div>
            </div>
            <div ng-if="data.burials && data.burials.parish">
                <strong>Sogn:</strong>
                <div>
                    {{data.burials.parish}}
                </div>
            </div>
            <div ng-if="data.burials && data.burials.cemetary">
                <strong>Kirkegård:</strong>
                <div>
                    {{data.burials.cemetary}}
                </div>
            </div>

            <div ng-if="data.spouses.length > 0">
                <strong>Ægtefælle:</strong>
                <text-person-name person="spouse" ng-repeat="spouse in data.spouses"></text-person-name>
                {{ data.spouses | json }}
            </div>

            <div ng-if="data.children.length > 0">
                <strong>Børn:</strong>
                <text-person-name person="child" ng-repeat="child in data.children"></text-person-name>
            </div>
        </div>
    </div>

    <div class="search-container__item">
        <div ng-if="metadata.collection_id == 1">
            <div>
                <strong>Begravelsesprotokol {{metadata.collection_name}}</strong>
            </div>
            <div>
                {{metadata.unit_description}} s.{{metadata.page_number}}
            </div>
            <div ng-if="data.burials && data.burials.number">
                <strong>Lb. nr:</strong> {{data.burials.number}}
            </div>
            <div class="search-container__link">
                <span>Til kilden</span>
            </div>
        </div>

        <div ng-if="metadata.station">
            <div>
                <strong>Politiets Registerblade</strong>
            </div>
            <div>
                Station: {{ metadata.station }}
            </div>
            <div>
                Filmrulle: {{ metadata.film }}
            </div>
            <div>
                Nummer: {{ metadata.number }}
            </div>
        </div>
    </div>
</a>
