<a href ng-click="goToPost()">

    <div class="row-fluid sdk-searchresult">

        <div class="span3">
            <div class="sdk-searchresult__image">
                <img ng-src="{{getImage(result)}}" alt="">  
            </div>
        </div>
        <div class="span9">
            <ul class="unstyled">
                <li ng-repeat="(key, val) in result" ng-if="lookItUp(key) !== null">
                    {{ lookItUp(key) }}: {{ buildValue(val) }}
                </li>
            </ul>
        </div>
    </div>
</a>