<div class="task-overview">
    <div class="task-overview__rowheaders">
        <p ng-repeat="(decade, units) in decades" class="task-overview__rowheader">
            {{ decade }}&ndash;{{ ((decade - 0) + 9) }}
        </p>
    </div>

    <div class="task-overview__rows">
        <div ng-repeat="(decade, units) in decades" class="task-overview__row">
            <div ng-repeat="unit in units"
                ng-class="{ 'task-progress-done': done(unit), 'task-progress-none': pending(unit), 'task-progress-starting': starting(unit), 'task-progress-finishing': finishing(unit) }"
                class="task-overview__item" style="width: {{ getWidth(decade) }}%">
                <div class="task-overview__tooltip">
                    <div class="task-overview__tooltip-text">
                        <p>{{ unit.description }}</p>
                        <p>Status: {{ unit.pages_done }} / {{ unit.pages }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="legend" class="task-overview__row task-overview__legend">
            <div class="task-overview__item task-progress-done">Færdig</div>
            <div class="task-overview__item task-progress-finishing">Over halvvejs</div>
            <div class="task-overview__item task-progress-starting">Under halvvejs</div>
            <div class="task-overview__item task-progress-none">Ikke påbegyndt</div>
        </div>
    </div>
    <div style="clear: both;"></div>
</div>