<div class="task-progress-plot">

    <div ng-repeat="(decade, units) in decades">

        <div class="d-flex flex-column flex-lg-row align-items-lg-center status-progress">
            <div class="h4 mr-4 mb-0">{{ decade }} - {{ ((decade - 0) + 9) }} </div>

            <div class="flex-grow-1">
                <div ng-repeat="unit in units"
                    ng-class="{ 'task-progress-done': done(unit), 'task-progress-none': pending(unit), 'task-progress-starting': starting(unit), 'task-progress-finishing': finishing(unit), 'task-progress-inactive': inactive(unit) }"
                    class="task-progress-plot__item" ng-style="{ 'width': getWidth(decade) + '%' }">

                    <div class="task-progress-plot__tooltip">
                        <div class="task-progress-plot__tooltip-text">
                            {{ unit.description }}
                            <p ng-if="!inactive(unit)">Status: {{ unit.pages_done }} / {{ unit.pages }}</p>
                        </div>
                    </div>
                </div>
            </div>

         </div>

    </div>

    <div class="d-flex flex-wrap flex-row-reverse" aria-hidden="true">
        <div class="d-flex align-items-center ml-5">
          <figure class="task-progress-done status-5 mb-0 mr-2" style="width: 1.5rem; height: 1.5rem;"></figure>
          Færdig
        </div>
        <div class="d-flex align-items-center ml-5">
          <figure class="task-progress-finishing status-4 mb-0 mr-2" style="width: 1.5rem; height: 1.5rem;"></figure>
          Over halvvejs
        </div>
        <div class="d-flex align-items-center ml-5">
          <figure class="task-progress-starting status-3 mb-0 mr-2" style="width: 1.5rem; height: 1.5rem;"></figure>
          Under halvvejs
        </div>
        <div class="d-flex align-items-center ml-5">
          <figure class="task-progress-none status-2 mb-0 mr-2" style="width: 1.5rem; height: 1.5rem;"></figure>
          Ikke påbegyndt
        </div>
        <div class="d-flex align-items-center ml-5">
          <figure class="task-progress-inactive mb-0 mr-2" style="width: 1.5rem; height: 1.5rem;"></figure>
          Ikke til indtastning
        </div>
      </div>

</div>