<div>
    <span ng-if="date"><strong>{{address.address_date | date: 'dd-MM-yyyy' }}:</strong> </span><span ng-if="address.frameldt">Frameldt</span><span ng-if="address.from_note">Fra {{address.from_note}} til </span>{{address.street ? address.street : address.institution }}<span ng-if="address.number"> {{address.number}}</span><span ng-if="address.letter">{{address.letter}}</span><span ng-if="address.floor">, {{address.floor}}</span><span ng-if="address.side"> {{address.side}}</span><span ng-if="address.place">, {{address.place}}</span><span ng-if="address.servant_staying_at">, hos {{address.servant_staying_at}}</span>
    <span ng-if="address.addressOutsideCph">, {{address.addressOutsideCph}}</span>
    <span ng-if="address.to_note"> til {{address.to_note}}</span>
    <p ng-if="address.adr_comment">Indtasters kommentar: {{address.adr_comment}}</p>
</div>
