<div class="user-statistics">
    <div ng-if="loading" class="alert alert-info">
        Indlæser brugerstatistik.
    </div>

    <ul ng-if="!error && !loading" class="unstyled">
        <li>
            <div class="user-statistics__header text-right">#</div>
            <div class="user-statistics__header">Bruger</div>
            <div class="user-statistics__header text-right">Antal</div>
        </li>

        <li ng-repeat="stat in stats" ng-class="{ odd: $odd }">
            <div class="user-statistics__item text-right">{{ $index + 1 }}.</div>
            <div class="user-statistics__item">{{ stat.username }}</div>
            <div class="user-statistics__item text-right">{{ stat.count }}</div>
        </li>
    </ul>

    <div ng-if="error" class="alert alert-warning">
        En fejl opstod under indlæsningen af brugerstatistikken.
    </div>
</div>