.sdk-fritekst-search {
    &__form {
        display: flex;
        flex-direction: row;
    }
    input {
        font-size: 13px;
        line-height: 40px;

        width: 80%;
        height: 40px;

        color: $font-color-dark;
        border-radius: 4px 0 0 4px;
        background: $gray;
    }

    button {
        font-size: 20px;

        position: relative;
        z-index: 1;

        width: 20%;
        height: 40px;

        text-transform: uppercase;

        border: 0;
        border-radius: 4px 0 0 4px;
        background-color: $blue;
        background-image: none;

        @media (max-width: 767px) {
            font-size: 13px;

            padding: 0 4px;
        }
    }

    ::placeholder {
        color: lighten($font-color, 15%);
    }
}