.postfield {
    margin-bottom: 10px;
    strong {
        display: block;
    }

    .error {
        i {
            color: red;
        }
    }

    .sdk-icon.report-error {
        position: relative;
        top: 4px;

        width: 16px;
        height: 18px;
    }

    &__report-link {
        position: relative;

        display: inline-block;

        margin-left: -4px;
        padding-right: 23px;
        //Has to be important because of Jooma styling

        text-decoration: none !important;

        span {
            padding: 2px 4px;

            background-color: $light-yellow;
        }


        &:hover span, &:focus span {
            text-decoration: none;

            background-color: $dark-yellow;
        }

        &:focus span {
            text-decoration: none;

            background-color: $light-yellow;
        }


        .sdk-icon.pencil {
            position: absolute;
            top: 4px;
            right: 7px;
        }

        &.postfield__reporting span {
            background-color: $dark-yellow;
        }
    }
}