.search-config-text {
    font-size: 1.125rem;
    line-height: 1.5;

    // display: block;
    // margin: 10px auto 30px;

    &__count {
        display: inline-block;
        margin-bottom: 0;
    }

    &__item {
        font-weight: 600;
        text-decoration: underline;
    }
}
