<div class="pagination sdk-pagination">

    <ul>
        <!-- arrows -->
        <li class="sdk-pagination__arrow sdk-pagination__prev-double" ng-class="{'disabled': $ctrl.currentPage === 0}">
            <a href="" ng-click="$ctrl.goToFirst()">
                <i class="sdk-icon arrow"></i>
                <i class="sdk-icon arrow"></i>               
            </a>
        </li>

        <li class="sdk-pagination__arrow sdk-pagination__prev" ng-class="{'disabled': $ctrl.currentPage === 0}">
            <a href="" ng-click="$ctrl.prev()">
                <i class="sdk-icon arrow"></i>
            </a>
        </li>
        <li class="sdk-pagination__divider disabled" ng-if="$ctrl.currentPage > 2">
            <a href="">...</a>
            </span>
        </li>

        <!-- pages -->
        <li ng-repeat="page in $ctrl.pagination" ng-class="{ 'active': $ctrl.currentPage === page.page }">
            <a href="" ng-click="$ctrl.goToPage({page: page.page})">{{ page.label }}</a>
        </li>

        <li>
            {{  }}
        </li>

        <!-- arrows -->
        <li class="sdk-pagination__divider disabled" 
        ng-if="$ctrl.currentPage !== $ctrl.total - 5 && ($ctrl.total - 3) - $ctrl.currentPage > 0">
            <a href="">...</a>
            </span>
        </li>
        <li class="sdk-pagination__arrow sdk-pagination__next" ng-class="{'disabled': $ctrl.currentPage === $ctrl.total - 1}">
            <a href="" ng-click="$ctrl.next()">
                <i class="sdk-icon arrow"></i>
            </a>
        </li>
        <li class="sdk-pagination__arrow sdk-pagination__next-double" ng-class="{'disabled': $ctrl.currentPage === $ctrl.total - 1}">
            <a href="" ng-click="$ctrl.goToLast()">
                <i class="sdk-icon arrow"></i>
                <i class="sdk-icon arrow"></i>
            </a>
        </li>

    </ul>
</div>