.page-details {
    position: absolute;
    top: 0;
    right: $gutter;

    input {
        display: inline-block;

        width: 42px;
        height: 25px;
    }

    > div {
        display: inline;

        + div {
            margin-left: $gutter;
        }
    }
}