<section class="post">

    <div class="post__head">
        <div class="post__item post__main post__alternate">

            <div class="post__tools">
                <a href="" ng-click="$ctrl.openErrorReporting()">Rapporter fejl</a>
            </div>

            <div class="post__header">
                <h2>
                    {{ $ctrl.data.firstnames }} {{ $ctrl.data.lastname }} <span
                        ng-if="$ctrl.data.birthname">{{$ctrl.data.birthname}}</span></span>
                    <span class="post__collection">Skoleprotokol</span>
                </h2>

                <p ng-if="$ctrl.data.dateOfBirth">
                    <text-date prefix="Født" date="$ctrl.data.dateOfBirth"></text-date>
                </p>
                <p ng-if="!$ctrl.data.dateOfBirth && $ctrl.data.yearOfBirth">
                    <strong>Født:</strong> {{ $ctrl.data.yearOfBirth }}
                </p>

                <p>
                    <text-age prefix="'Alder: '" years="$ctrl.data.ageYears"></text-age>
                </p>

                <p ng-if="$ctrl.data.comments">
                    <strong>Kommentar til navn:</strong> {{ $ctrl.data.comments }}
                </p>

                <!-- Error reports -->
                <div ng-if="$ctrl.postErrors.length > 0" class="post__error">
                    <div>Denne post er fejlmeldt</div>
                    <a href ng-click="$ctrl.toggleErrorReports()">Læs mere</a>

                    <div class="post__error__message" ng-repeat="error in $ctrl.postErrors"
                        ng-if="$ctrl.showErrorReports">
                        {{ error.label || 'Ukendt felt' }}: {{error.comment}}
                    </div>
                </div>

            </div>

            <div class="post__sharelink">
                <label for="permalink">Permalink:</label>
                <input id="permalink" class="input" type="text" ng-value="$ctrl.permalink" /><button
                    ng-click="$ctrl.copy()" class="button">Kopier</button><span class="confirm">Kopieret</span>
            </div>

        </div>
        <div class="post__item post__viewer">
            <zoom-image image-url="$ctrl.data.imageUrl"></zoom-image>
            <div class="post__links">
                <a ng-href="{{$ctrl.data.kildeviser_url}}" target="_blank" class="button">Vis protokol i kildeviser</a>
            </div>
        </div>
    </div>

    <div class="post__col">
        <div class="post__item">
            <p><strong>Skole:</strong> {{ $ctrl.data.schoolName }}</p>
            <p ng-if="$ctrl.data.dateOfEntry">
                <text-date prefix="Indskrivningsdato" date="$ctrl.data.dateOfEntry"></text-date>
            </p>
            <p ng-if="!$ctrl.data.dateOfEntry && $ctrl.data.collected_year"><strong>Indskrivningsår:</strong> {{
                $ctrl.data.collected_year }}</p>
        </div>
    </div>

    <div class="post__col post__alternate">

        <div class="post__item">
            <h3 class="post__sectionheader">Om kilden</h3>
            <p>{{ $ctrl.data.collection_info }}: {{ $ctrl.data.unit_description }} s. {{$ctrl.data.page_number}}</p>
        </div>

        <div class="post__item">
            <h3 class="post__sectionheader">Om indtastningen</h3>
            <p>Skoleprotokollerne er indtastet af <a href="https://www.danishfamilysearch.dk/">Danish Family Search</a></p>
        </div>

    </div>

</section>