.editor {
    position: relative;

    height: calc(100vh - 135px);
    overflow: hidden;

    &__tools {
        position: absolute;
        z-index: 500;
        top: $gutter * 2;
        left: $gutter / 2;

        li {
            margin-bottom: $gutter / 2;
        }

        a {
            @include border-radius(50%);

            font-size: 26px;
            line-height: 40px;

            display: block;

            width: 43px;
            height: 43px;

            text-align: center;

            color: $gray;
            background-color: $white;

            &:hover {
                text-decoration: none;

                color: $black;
            }
        }
    }

    /**
     * Styling for large textareas in the angular-schema-form forms
     * The class is set as fieldHtmlClass in the steps section of the task configuration
     */
    & textarea.large-textarea {
        height: 300px
    }

    /**
    * The navigatoroverview box, custom styled
    */
    #editor__navigator {
        position: absolute;
        top: -120px;
        left: 20px;

        width: 100px;
        height: 100px;
        padding-top: 2px !important;
        padding-bottom: 2px !important;

        background-color: $white;
    }
}

.editor-container {
    //Width of the editor minus the default row adjustment in Bootstrap
    width: calc(100% - #{$editorFormWidth - 15});
    height: 100%;
}
