.modal {
    //Overwrite of default style
    &-body {
        font-size: 16px;
    }

    &__close {
        position: absolute;
        z-index: 1000;
        top: 15px;
        right: 16px;
    }

    .btn {
        margin-top: 20px;
        padding: 0 50px;
    }

    &--center {
        .modal-dialog {
            position: fixed;
            top: 50%;
            left: 50%;

            width: 540px;
            margin: 0;
            //!important to overwrite default styling

            transform: translateX(-50%) translateY(-105%) !important;
        }

        .modal-body {
            padding: 20px 80px;
        }
    }

    &--error {
        .modal-dialog {
            position: fixed;
            top: 50%;
            left: 50%;

            width: 540px;
            margin: 0;
            //!important to overwrite default styling

            transform: translateX(-50%) translateY(-60%) !important;
        }
        pre {
            max-height: 200px;

            white-space: pre-wrap;
        }
    }
}