<section class="post">

    <div class="post__head">
        <div class="post__item post__main post__alternate">

            <div class="post__tools">
                <a href="" ng-click="$ctrl.openErrorReporting()">Rapporter fejl</a>
            </div>

            <div class="post__header">
                <h2>
                    <div class="sdk-name"><strong>{{ $ctrl.data.efterretning_type }}</strong></div>
                    <span class="post__collection">Politiets Efterretninger</span>
                </h2>

                <!-- Error reports -->
                <div ng-if="$ctrl.postErrors.length > 0" class="post__error">
                    <div>Denne post er fejlmeldt</div>
                    <a href ng-click="$ctrl.toggleErrorReports()">Læs mere</a>

                    <div class="post__error__message" ng-repeat="error in $ctrl.postErrors" ng-if="$ctrl.showErrorReports">
                        {{ error.label || 'Ukendt felt' }}: {{error.comment}}
                    </div>
                </div>
            </div>

            <div class="post__sharelink">
                <label for="permalink">Permalink:</label>
                <input id="permalink" class="input" type="text" ng-value="$ctrl.permalink"/><button ng-click="$ctrl.copy()" class="button">Kopier</button><span class="confirm">Kopieret</span>
            </div>
        </div>
        <div class="post__item post__viewer">
            <div class="post__links">
                <a ng-href="{{$ctrl.getAssetHref()}}" target="_blank" class="button">Efterretning</a>
            </div>
        </div>
    </div>

    <div class="post__col">
        <div class="post__item" ng-if="$ctrl.data.highlighting.erindring_document_text">
            <h3 class="post__sectionheader">Dit søgeord er fundet i denne kontekst</h3>
            <p ng-repeat="highlight in $ctrl.data.highlighting.erindring_document_text">
                ...<span class="post__highlight" ng-bind-html="highlight"></span>...
            </p>
        </div>
    </div>

    <div class="post__col post__alternate">

        <div class="post__item">
            <h3 class="post__sectionheader">Om kilden</h3>
            <p>Nummer {{ $ctrl.data.number }}<span ng-if="$ctrl.data.date">, {{ $ctrl.formatDate($ctrl.data.date) }}.</span></p>
        </div>
    </div>

</section>
