<section class="post">

    <div class="post__head">
        <div class="post__item post__main post__alternate">

            <div class="post__tools">
                <a href="" ng-click="$ctrl.openErrorReporting()">Rapporter fejl</a>
            </div>

            <div class="post__header">
                <h2>
                    {{ $ctrl.data.firstnames }} {{ $ctrl.data.lastname }} <span ng-if="$ctrl.data.birthname">{{$ctrl.data.birthname}}</span></span>
                    <span class="post__collection">Erindring</span>
                </h2>

                <p ng-if="$ctrl.data.yearOfBirth">Født: {{ $ctrl.data.yearOfBirth }}</p>
                <p>{{ $ctrl.data.civilstatus }}<span ng-if="$ctrl.data.civilstatus">, </span>{{ $ctrl.data.sex }}</p>
                <p>{{ $ctrl.data.position }}</p>
                <p>Forældres stilling: {{ $ctrl.data.position_parent }}</p>

                <!-- Error reports -->
                <div ng-if="$ctrl.postErrors.length > 0" class="post__error">
                    <div>Denne post er fejlmeldt</div>
                    <a href ng-click="$ctrl.toggleErrorReports()">Læs mere</a>

                    <div ng-repeat="error in $ctrl.postErrors" ng-if="$ctrl.showErrorReports">
                        {{ error.label || 'Ukendt felt' }}: {{error.comment}}
                    </div>
                </div>
            </div>
        </div>
        <div class="post__item post__viewer">
            <div class="post__links">
                <a ng-if="$ctrl.data.filename" ng-href="http://www.kbharkiv.dk/kbharkiv/collections/erindringer/{{$ctrl.data.filename}}" target="_blank" class="button">Link til fil</a>
                <a ng-if="$ctrl.data.transcribed_filename" ng-href="http://www.kbharkiv.dk/kbharkiv/collections/erindringer/{{$ctrl.data.transcribed_filename}}" target="_blank" class="button">Link til transkriberet fil</a>
            </div>
        </div>
    </div>

    <div class="post__col">
        <div class="post__item" ng-if="$ctrl.data.highlighting.erindring_document_text">
            <h3 class="post__sectionheader">Søgekontekst</h3>
            <p ng-repeat="highlight in $ctrl.data.highlighting.erindring_document_text">
                ...<span ng-bind-html="highlight"></span>...
            </p>
        </div>

        <div class="post__item" ng-if="$ctrl.data.keywords && $ctrl.data.keywords.length > 0">
            <h3 class="post__sectionheader">Emneord</h3>
            <p><span ng-repeat="keyword in $ctrl.data.keywords track by $index">{{ keyword }}{{ $last ? '' : ', ' }}</span></p>
        </div>

        <div class="post__item" ng-if="$ctrl.data.description">
            <h3 class="post__sectionheader">Beskrivelse</h3>
            <p>{{ $ctrl.data.description }}</p>
        </div>
    </div>

    <div class="post__col post__alternate">

        <div class="post__item">
            <h3 class="post__sectionheader">Om kilden</h3>
            <p>Erindringsnummer {{ $ctrl.data.erindring_number }}, skrevet i {{ $ctrl.data.writtenYear }}.</p>
            <p>Omfang: {{ $ctrl.data.extent }}</p>
            <p ng-if="$ctrl.data.writeMethod">{{ $ctrl.data.writeMethod }}</p>
        </div>
    </div>

</section>
