<div class="row">
    <div class="col-md-2">
        <img ng-hide="!user" ng-src="{{ user.picture }}">
        <div ng-hide="user">
            <feather icon='loader' class="spin large-icon" style="position: relative; left: 30px; top: 30px"></feather>
        </div>
    </div>

    <div class="col-md-10" ng-hide="editing">
        <div class="row">
            <div class="col-md-4">
                <strong>Brugernavn</strong>
            </div>
            <div class="col-md-8">
                {{ user.nickname }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <strong>E-mail</strong>
            </div>
            <div class="col-md-8">
                {{ user.email }}
            </div>
        </div>

        <div class="row col">
            <small class="text-success" ng-if="nickname.successText">{{ nickname.successText }}</small>
            <small class="text-success" ng-if="email.successText">{{ email.successText }}</small>
            <small class="text-success" ng-if="password.successText">{{ password.successText }}</small>
        </div>
        
        <div class="row">
            <div class="col-md-auto">
                <button type="button" class="btn btn-primary" ng-click="edit()" ng-disabled="loading">Rediger</button>
            </div>
        </div>
    </div>

    <div class="col-md-10" ng-hide="!editing">
        <form ng-submit="submit($event, nickname, user.nickname)" class="form-row">
            <div class="col-md mb-3">
                <label for="edit-profile-username">Nyt brugernavn</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="edit-profile-username" placeholder="Indtast nyt brugernavn" ng-model="nickname.value" ng-disable="nickname.saving">

                    <button type="submit" class="btn btn-primary input-group-append" ng-disable="nickname.saving">
                        <span ng-if="!nickname.saving">Gem</span>
                        <feather ng-if="nickname.saving" icon='loader' class='spin'></feather>
                    </button>
                </div>
            </div>
        </form>
        <div class="form-row" ng-if="nickname.errorText">
            <small class="text-danger form-text">{{ nickname.errorText }}</small>
        </div>

        <form ng-submit="submit($event, email, user.email)" class="form-row">
            <div class="col-md-6 mb-3">
                <label for="edit-profile-email">Ny e-mailadresse</label>
                <input type="email" class="form-control" id="edit-profile-email" placeholder="Indtast ny e-mailadresse" ng-change="checkEmailRepeat()" ng-model="email.value" ng-disable="email.saving">´
            </div>

            <div class="col-md-6 mb-3">
                <label for="edit-profile-email">Gentag e-mailadresse</label>
                <div class="input-group">
                    <input type="email" class="form-control" id="edit-profile-email-repeat" placeholder="Gentag ny e-mailadresse" ng-change="checkEmailRepeat()" ng-model="email.repeat" ng-disable="email.saving">

                    <button type="submit" class="btn btn-primary input-group-append" ng-disable="email.saving">
                        <span ng-if="!email.saving">Gem</span>
                        <feather ng-if="email.saving" icon='loader' class='spin'></feather>
                    </button>
                </div>
            </div>
        </form>
        <div class="form-row" ng-if="email.errorText">
            <small class="text-danger form-text">{{ email.errorText }}</small>
        </div>

        <form ng-submit="submit($event, password)" class="form-row">
            <div class="col-md-6 mb-3">
                <label for="edit-profile-username">Nyt kodeord</label>
                <input type="password" class="form-control" id="edit-profile-password" placeholder="Indtast nyt kodeord" ng-change="checkPasswordRepeat()" ng-model="password.value" ng-disable="password.saving">
            </div>

            <div class="col-md-6 mb-3">
                <label for="edit-profile-username">Gentag kodeord</label>
                <div class="input-group">
                    <input type="password" class="form-control" id="edit-profile-password-repeat" placeholder="Gentag nyt kodeord" ng-change="checkPasswordRepeat()" ng-model="password.repeat" ng-disable="password.saving">
                
                    <button type="submit" class="btn btn-primary input-group-append" ng-disable="password.saving">
                        <span ng-if="!savingpassword.savingPassword">Gem</span>
                        <feather ng-if="password.saving" icon='loader' class='spin'></feather>
                    </button>
                </div>
            </div>
        </form>
        <div class="form-row" ng-if="password.errorText">
            <small class="text-danger form-text">{{ password.errorText }}</small>
        </div>
            
        <button type="button" class="btn btn-secondary" ng-click="cancel()" ng-disable="saving">Ok</button>  
    </div>
</div>