<form ng-submit="submit()" ng-keyup="editing && $event.keyCode == 27 && cancel()">
    <div class="form-group" ng-class="{'has-error': email.error}">
        <label ng-attr-for="edit-profile-{{ field }}-input">{{ label }}</label>
        <div class="input-group">
            <input ng-attr-type="{{ input-type }}" class="form-control" ng-attr-id="edit-profile-{{ field }}-input" ng-attribute-placeholder="{{ placeholder }}" ng-model="value" ng-disabled="!editing"></input>
            <div class="input-group-append">
                <button type="button" ng-attr-id="{{ field }}-edit-btn" class="btn btn-primary" ng-if="!editing && !updating && !loading" ng-disabled="loading" ng-click="edit()">Ret</button>
                
                <button type="button" class="btn btn-primary" ng-if="editing" ng-click="save()">Gem</button>
                <button type="button" class="btn btn-info" ng-if="editing" ng-click="cancel()">Annuller</button>

                <feather class="btn btn-info small-icon spin" icon='loader' ng-if="updating || loading"></feather>
            </div>
        </div>
    </div>
</form>