    <h4>Kilden</h4>
    <div class="module-gallery">
        <div class="card text-white mb-3">
            <div class="card-body">
                <div id="source-gallery" class="carousel slide">
                    <ol class="carousel-indicators">
                        <li ng-repeat="img in $ctrl.images" data-target="#source-gallery" data-slide-to="{{$index}}" ng-class="{active : $index == 0}"></li>
                    </ol>
                    <div class="carousel-inner">
                        <a ng-repeat="img in images" class="carousel-item" ng-class="{active : $index == 0}" role="button" data-toggle="modal" data-target="#source-gallery-modal">
                            <zoom-image class="d-block w-100" image="img" index="$index"></zoom-image>
                        </a>
                    </div>
                        
                    <a class="carousel-control-prev" href="#source-gallery" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Forrige side af kilden</span>
                    </a>
                    <a class="carousel-control-next" href="#source-gallery" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Næste side af kilden</span>
                    </a>

                </div>

                <div class="text-right">
                    <button type="button" class="btn btn-link"><i width="20px" height="20px" data-feather="zoom-out"></i><span class="sr-only">Zoom ud</span></button>
                    <button type="button" class="btn btn-link"><i width="20px" height="20px" data-feather="zoom-in"></i><span class="sr-only">Zoom ind</span></button>
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#source-gallery-modal"><i width="20px" height="20px" data-feather="maximize-2"></i><span class="sr-only">Åbn galleriet i fuld skærm</span></button>
                </div>

            </div>
        </div>
    </div>
</div>