<section ng-if="showEmptyFields">

    <h4>{{data.label}}</h4>

    <div class="postfield">

        <div ng-class="{
            error: field.error,
            reporting: data.showErrorForm
        }">

            <span ng-hide="errorReporting && !data.error">Dette felt er ikke udfyldt</span>

            <a href ng-show="errorReporting && !data.error" class="postfield__report-link"
                ng-class="{ postfield__reporting: data.showErrorForm }" ng-click="toggleErrorReporting()">
                <span>Dette felt er ikke udfyldt</span>
                <i class="sdk-icon pencil"></i>
            </a>

            <span ng-if="data.error">
                <i class="sdk-icon report-error" title="{{data.error.comment}}"></i>
            </span>

            <div class="error-reporting text-center" ng-if="data.errorAccepted">
                <i class="sdk-icon green-checkmark"></i>
                <div>Tak for din fejlmelding</div>
            </div>

            <div class="error-reporting" ng-if="errorReporting && data.showErrorForm">
                <div class="row">
                    <div class="col-md-12">
                        <textarea ng-model="data.comment"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button class="button" ng-click="doReport(data)">Indberet fejl</button>
                        <a href ng-click="toggleErrorReporting()">Fortryd</a>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <hr>

</section>