<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link"
           ng-class="{ 'active': activeTab == 'day' }"
           id="seneste-dogn-tab"
           data-toggle="tab"
           href
           role="tab"
           ng-click="activeTab = 'day'" 
           aria-controls="seneste-dogn"
           aria-selected="true">
           <span class="sr-only">Top 5 indtastere det </span>Seneste døgn
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link"
           ng-class="{ 'active': activeTab == 'week' }"
           id="seneste-uge-tab"
           data-toggle="tab"
           href role="tab"
           ng-click="activeTab = 'week'"
           aria-controls="seneste-uge"
           aria-selected="false">
           <span class="sr-only">Top 5 indtastere den </span>Seneste uge
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link"
           ng-class="{ 'active': activeTab == 'ever' }"
           id="altid-tab"
           data-toggle="tab"
           href role="tab"
           aria-controls="altid"
           ng-click="activeTab = 'ever'" 
           aria-selected="false">
           <span class="sr-only">Top 5 indtastere for </span>Altid
        </a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade" ng-class="{ 'active': activeTab == 'day', 'show': activeTab == 'day' }" id="seneste-dogn" role="tabpanel" aria-labelledby="seneste-dogn-tab">
        <div ng-if="dayLoading" class="alert alert-info text-center w-100">
            <feather class="large-icon spin" icon='loader'></feather>
            <div class="h4">Indlæser døgnets brugerstatistikker</div>
        </div>
        
        <div ng-if="dayError" class="alert alert-danger text-center w-100">
            <feather class="large-icon" aria-hidden="true" icon='alert-octagon'></feather>
            <div class="h4">En fejl opstod</div>
            <p class="small">Kunne ikke hente data. Prøv venligst igen senere.</p>
        </div>

        <div ng-if="!dayLoading && !dayError && !day.length" class="alert alert-info text-center w-100">
            <feather class="large-icon" aria-hidden="true" icon='alert-octagon'></feather>
            <div class="h4">Ingen indtastninger fundet</div>
            <p class="small">Ingen har indtastet i dag - du kan være den første!</p>
        </div>
        
        <table ng-if="!dayLoading && !dayError && day.length" class="table table-striped" aria-labelledby="seneste-dogn-tab">
            <caption class="sr-only">Top 5 indtastere det seneste døgn</caption>
            <thead>
                <tr class="d-none d-md-table-row">
                    <th scope="col">#</th>
                    <th scope="col">Bruger</th>
                    <th scope="col">Antal</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="stat in day | limitTo : limit : 0">
                    <td>
                        <div class="h5 d-md-none">#</div>
                        {{ $index + 1}}
                    </td>
                    <td>
                        <div class="h5 d-md-none">Bruger</div>
                        {{ stat.username }}
                    </td>
                    <td>
                        <div class="h5 d-md-none">Antal</div>
                        {{ stat.count | number }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="tab-pane fade" ng-class="{ 'active': activeTab == 'week', 'show': activeTab == 'week' }" id="seneste-uge" role="tabpanel" aria-labelledby="seneste-uge-tab">
        <div ng-if="weekLoading" class="alert alert-info text-center w-100">
            <feather class="large-icon spin" icon='loader'></feather>
            <div class="h4">Indlæser ugens brugerstatistikker</div>
        </div>
        
        <div ng-if="weekError" class="alert alert-danger text-center w-100">
            <feather class="large-icon" aria-hidden="true" icon='alert-octagon'></feather>
            <div class="h4">En fejl opstod</div>
            <p class="small">Kunne ikke hente data. Prøv venligst igen senere.</p>
        </div>
        
        <div ng-if="!weekLoading && !weekError && !week.length" class="alert alert-info text-center w-100">
            <feather class="large-icon" aria-hidden="true" icon='alert-octagon'></feather>
            <div class="h4">Ingen indtastninger fundet</div>
            <p class="small">Ingen har indtastet i denne uge - du kan være den første!</p>
        </div>

        <table ng-if="!weekLoading && !weekError && week.length" class="table table-striped" aria-labelledby="seneste-uge-tab">
            <caption class="sr-only">Top 5 indtastere den seneste uge</caption>
            <thead>
                <tr class="d-none d-md-table-row">
                    <th scope="col">#</th>
                    <th scope="col">Bruger</th>
                    <th scope="col">Antal</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="stat in week | limitTo : limit : 0">
                    <td>
                        <div class="h5 d-md-none">#</div>
                        {{ $index + 1}}
                    </td>
                    <td>
                        <div class="h5 d-md-none">Bruger</div>
                        {{ stat.username }}
                    </td>
                    <td>
                        <div class="h5 d-md-none">Antal</div>
                        {{ stat.count | number }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" ng-class="{ 'active': activeTab == 'ever', 'show': activeTab == 'ever' }" id="altid" role="tabpanel" aria-labelledby="altid-tab">
        <div ng-if="everLoading" class="alert alert-info text-center w-100">
            <feather class="large-icon spin" icon='loader'></feather>
            <div class="h4">Indlæser alle brugerstatistikker</div>
        </div>
        
        <div ng-if="everError" class="alert alert-danger text-center w-100">
            <feather class="large-icon" aria-hidden="true" icon='alert-octagon'></feather>
            <div class="h4">En fejl opstod</div>
            <p class="small">Kunne ikke hente data. Prøv venligst igen senere.</p>
        </div>
       
        <div ng-if="!everLoading && !everError && !ever.length" class="alert alert-info text-center w-100">
            <feather class="large-icon" aria-hidden="true" icon='alert-octagon'></feather>
            <div class="h4">Ingen indtastninger fundet</div>
            <p class="small">Ingen har indtastet - du kan være den første!</p>
        </div>
        
        <table ng-if="!everLoading && !everError" class="table table-striped" aria-labelledby="altid-tab">
            <caption class="sr-only">Top 5 indtastere for altid</caption>
            <thead>
                <tr class="d-none d-md-table-row">
                    <th scope="col">#</th>
                    <th scope="col">Bruger</th>
                    <th scope="col">Antal</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="stat in ever | limitTo : limit : 0">
                    <td>
                        <div class="h5 d-md-none">#</div>
                        {{ $index + 1}}
                    </td>
                    <td>
                        <div class="h5 d-md-none">Bruger</div>
                        {{ stat.username }}
                    </td>
                    <td>
                        <div class="h5 d-md-none">Antal</div>
                        {{ stat.count | number }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>