<base href="/search/">
<link rel="stylesheet" id="sdk.css-css" href="/resources/css/sdk.css" type="text/css" media="all">

<div id="search-app-upper-text" ng-cloak>
    <h2>This is the simple upper text</h2>
    <p>And it is very nice</p>
</div>
<div id="search-app-lower-text" ng-cloak>
    <h2>This is the simple lower text</h2>
    <p>And as we can see, it is very much diffent than the other.</p>
</div>
<div id="search-app-simple-search-text" ng-cloak>
    <h2>This is the simple search text</h2>
    <p>And as we can see, it is very much diffent than the other.</p>
</div>
<div id="search-app-advanced-search-lower" ng-cloak>
    <h2>This is the advanced lower text</h2>
    <p>And as we can see, it is very much diffent than the other.</p>
</div>

<div data-sdk-app class="sdk-search">
    <div ui-view></div>
</div>

<script data-main="/resources/js/sdk-main.js" src="/resources/js/libs/require.js" type="text/javascript"></script>
<script type="text/javascript" src="/resources/js/sdk-config.js"></script>