<header class="row">

    <div class="col-sm-4">
        <h1>Københavns Stadsarkiv</h1>
        <p>{{protocol}}</p>

        <button type="button" class="btn btn-default" ui-sref=".({ id: prevPageId })" ng-if="prevPageId">Forrige</button>
        <button type="button" class="btn btn-default" ui-sref=".({ id: nextPageId })" ng-if="nextPageId">Næste</button>

        <button type="button">Næste ledige side</button>
    </div>

    <div class="col-sm-2">
        10 sider tilbage af protocol
        <uib-progressbar animate="'true'" value="progress" type="success"><b>{{progress}}%</b></uib-progressbar>
    </div>

    <div class="col-sm-4">
        Andre brugere i denne protokol lige nu:

        <user username="'Jens Jensen'"></user>
    </div>

    <div class="col-sm-2">
        DONUT
        <a href>Min side</a>
    </div>

</header>