<a href ng-click="dismiss()" class="modal__close">
    <span class="icon icon__cross"></span>
</a>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-12">
            <h2>Der er ikke flere ledige sider i denne protokol.</h2>
            <p>Vælg en ny protokol på oversigten over protokoller til indtastning.</p>
        </div>
        <div class="col-sm-12 text-center">
            <button class="btn btn-primary" ng-click="dismiss()">Ok</button>
        </div>
    </div>
</div>
