<step-indicator total="numSteps" current="currentStep" go-to-step="goToStep"></step-indicator>

<section handle-steps prev="prevStep" next="nextStep">

    <div class="row" ng-if="currentStep == 1">
        
        <div class="col-sm-12">
            <h2>{{currentStepData.title}}</h2>
            <p>{{currentStepData.description}}</p>
            
            <p>Vælg området for den person, du vil indtaste. Brug musen til at flytte området eller ændre dets størrelse, så alle informationer er inden for det markerede.</p>
            <p class="text-center" ng-click="enableSelection()">
                <br>
                <img src="/resources/images/Cursor-Select-512.png" alt="Vælg område" width="50px">
                <br>
            </p>
        </div>
        
        <div class="col-sm-6"></div>
        
        <div class="col-sm-6">
            <button tabindex="1" type="button" class="btn btn-primary btn-block" ng-click="acceptArea()">{{TEXT.BUTTON.NEXT}}</button>
        </div>

    </div>

    <div class="row" ng-if="currentStep > 1 && !isResult()">
        
        <div class="col-sm-12">
            <h2>{{currentStepData.title}}</h2>
            <p>{{currentStepData.description}}</p>
            
            <form sf-schema="schema" sf-form="currentStepData.fields" sf-model="values" sf-options="sfDefaults"></form>
       
        </div>
    </div>
    <div class="row" ng-show="currentStep > 1 && !isResult()">
        
        <div class="col-sm-12">
            <div class="btn-group btn-group-justified" role="group" aria-label="Navigation">
                <div class="btn-group">
                    <button tabindex="1" type="button" class="btn btn-default" ng-click="prevStep()">{{TEXT.BUTTON.PREV}}</button>
                </div>
                <div class="btn-group">
                    <button tabindex="1" type="button" class="btn btn-primary" ng-click="nextStep()">{{TEXT.BUTTON.NEXT}}</button>
                </div>
            </div>
        </div>
        
    </div>

    <div class="row" ng-if="currentStep > 1">

        <div class="col-sm-12">
            <h3>Udfyldt</h3>
            
            <ul class="list-unstyled field-list">
                <li class="field-list__item" ng-class="{ 'field-list__active': showSelectionControls }">
                    <a href tabindex="1" ng-click="placeArea()" ng-hide="showSelectionControls">Udsnit placeret <span class="icon glyphicon glyphicon-pencil"></span></a>
                    <div class="row" ng-if="showSelectionControls">
                        <div class="col-sm-12">
                            <p>Ret udsnittet i kilden.</p>
                        </div>
                        <div class="col-sm-12 text-right">
                            <button tabindex="1" class="btn btn-default" ng-click="acceptArea()">
                                {{TEXT.BUTTON.OK}}
                            </button>
                        </div>
                    </div>
                </li>
            </ul>

            <ul class="list-unstyled field-list" ng-repeat="(key, value) in values">

<pre>
value: {{value}}
key: {{key}}
values: {{values}}

{{angular.isArray(value)}}
</pre>
                <li class="field-list__item">

                    <span ng-if="schema.properties[key].type !== 'array'">
                        <a tabindex="1" href ng-click="toggleEditExistingValue(key)">
                            <span class="summary-item" ng-if="schema.properties[key].type !== 'array'">
                                <span class="summary-item__label">{{schema.properties[key].title}}</span>
                                <span class="summary-item__field">{{value}}
                                    <span class="icon glyphicon glyphicon-pencil"></span>                        
                                 </span>
                            </span>
                        </a>
                        
                        <div class="row" ng-if="isEditing(key)">
                        
                            <div class="col-sm-12">
                                <form sf-schema="schema" sf-form="[key]" sf-model="values" sf-options="sfDefaults"></form>
                            </div>                    

                            <div class="col-sm-12 text-right">
                                <button tabindex="1" type="button" class="btn btn-default" ng-click="toggleEditExistingValue(key)">
                                    {{TEXT.BUTTON.OK}}
                                </button>
                            </div>
                        </div>
                    </span>

                    <span ng-if="schema.properties[key].type == 'array'">
                    
                        <span class="summary-item__label">{{schema.properties[key].title}}</span>
                        
                        <ul>
                            <!-- Filter out null values, ie. items that were added, but never filled out -->
                            <li ng-repeat="val in values[key] | filter: '!!'">
                                <a href ng-click="toggleEditExistingValue(key)">{{val}} <span class="icon glyphicon glyphicon-pencil"></span> </a>
                            </li>
                        </ul>
                        <div class="row" ng-if="isEditing(key)">
                        
                            <div class="col-sm-12">
                                <form sf-schema="schema" sf-form="[key]" sf-model="values"></form>
                            </div>                    

                            <div class="col-sm-12 text-right">
                                <button tabindex="1" type="button" class="btn btn-default" ng-click="toggleEditExistingValue(key)">
                                    {{TEXT.BUTTON.OK}}
                                </button>
                            </div>
                        </div>
                                
                    </span>

                </li>
            </ul>

        </div>
    </div>
    
    <div ng-if="isResult()">
        
        <div class="row">
            <div class="col-sm-12">
                <a href tabindex="1" ng-click="toggleComment()" ng-show="!showComment">Tilføj bemærkninger</a>
                <div class="form-group" ng-show="showComment">
                    <label class="control-label">
                        Tilføj bemærkning
                    </label>
                    <textarea tabindex="1" class="form-control" ng-trim="true" ng-model="comment"></textarea>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="checkbox">
                    <label>
                        <input tabindex="1" type="checkbox" ng-model="wantFeedback" value="feedMe"> Jeg ønsker feedback på disse indtastninger
                    </label>
                </div>
                <div class="form-group" ng-show="wantFeedback">
                    <label class="control-label">Evt. uddybning af feedback-ønske</label>
                    <textarea tabindex="1" class="form-control" ng-trim="true" ng-model="feedback"></textarea>
                </div>
            </div>
        </div>

        <div class="btn-group btn-group-justified" role="group" aria-label="Navigation">
            <div class="btn-group">
                <button tabindex="1" type="button" class="btn btn-default btn-block" ng-click="prevStep()">{{TEXT.BUTTON.PREV}}</button>
            </div>
            <div class="btn-group">
                <button tabindex="1" type="button" class="btn btn-primary btn-block" ng-click="save()">{{TEXT.BUTTON.SAVEPOST}}</button>
            </div>
        </div>

    </div>

</section>