<div class="wizard-done">
    <div class="row">
        <div class="col-sm-12">
            <div ng-if="!isFull">
                <h2>Udfyld kilde</h2>
                <p>Hvis der er flere personer tilbage på siden kan du starte en ny på samme side, eller skal siden markeres færdig.</p>
            </div>
            <div ng-if="isFull">
                <h2>Er siden færdig?</h2>
                <p>Der er nu indtastet 6 begravelser på denne side. Meld siden færdig og gå til næste ledige side.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button type="button" class="btn btn-default btn-block" tabindex="1" ng-click="startNewOnSamePage()" ng-if="!isFull">Start ny på samme side</button>
            <button type="button" class="btn btn-default btn-block" tabindex="2" ng-click="markDone()">Siden er færdig</button>
            
    <!--         <button type="button" class="btn btn-block" tabindex="1" ng-click="showShareLink()">Del post</button>
            <div ng-if="showShareLink">
                <p>{{shareLink}}</p>
            </div> -->
        </div>
    </div>
</div>