<div class="row">
    <div class="col-sm-12">
        <h2>Udfyld kilde</h2>
        <p>Dine indtastninger er nu gemt. Hvis der er flere personer tilbage på siden kan du starte en ny på samme side, eller skal siden markeres færdig.</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <button type="button" class="btn btn-default btn-block" ng-click="startNewOnSamePage()">Start ny på samme side</button>
        <button type="button" class="btn btn-default btn-block" ng-click="markDone()">Siden er færdig</button>
    </div>
</div>