//Local bootstrap variables
@import "core/bootstrap-variables";

@import "core/variables";

//Bootstrap
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

@import "../bower_components/ui-select/dist/select";



@import "core/core";
@import "core/animations";

@import "core/mixins";

@import "modules/modules";

//Components
@import "components/editor";
@import "components/header";
@import "components/footer";
@import "components/page-details";
@import "components/page-done";
@import "components/update-fields";

//elements
@import "elements/button";
@import "elements/dynamic-form";
@import "elements/editor-form-container";
@import "elements/field-list";
@import "elements/icon";
@import "elements/image-viewer";
@import "elements/progressbar";
@import "elements/step-indicator";
@import "elements/summary-item";
@import "elements/user";

@import "../bower_components/angular-flash-alert/dist/angular-flash";

.alert {
    position: absolute;
    z-index: 2000;

    width: 100%;
    margin-left: -15px;

    border-radius: 0;
}