<div>

    <h2>Valgte filtre</h2>

    <div>
        <filter-link ng-repeat="filter in selectedFilters" name="filter.name" url="filter.url" remove-func="toggleFilter"></filter-link>
    </div>

    <div ng-repeat="fieldData in data">

        <h3>{{fieldData.label}}</h3>

        <ul>
            <li ng-repeat="facet in fieldData.field">
                <a href="" ng-click="toggleFilter(fieldData.name, facet.name)">{{facet.name}} ({{facet.count}} <span ng-if="facet.selected">YES!</span>)</a>
            </li>
        </ul>

    </div>
</div>
