<div id="post-content" class="container-fluid post">

    <div class="clearfix"></div>

    <section class="row">
        <div class="col-lg-6">
            <h4 id="data-personen">Personen</h4>
            <table class="table table-striped mb-5" aria-labelledby="data-personen">
                <caption class="sr-only">Data om personen</caption>
                <tbody>
                    <tr>
                        <th scope="row">
                            Persontype
                        </th>
                        <td>
                            {{data.person_type_text}}
                        </td>
                    </tr>
                    <tr ng-if="data.dateOfBirth">
                        <th scope="row">
                            Født
                        </th>
                        <td>
                            {{data.dateOfBirth | date:'dd-MM-yyyy' }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Køn
                        </th>
                        <td>
                            <text-gender type="data.sex"></text-gender>
                        </td>
                    </tr>
                    <tr ng-if="data.positions.length > 0">
                        <th scope="row">
                            Erhverv
                        </th>
                        <td>
                            <span ng-repeat="position in data.positions">{{position.position}}<span ng-if="!$last">, </span></span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Permalink
                        </th>
                        <td>
                            <span id="permalink" class="mr-2">
                                {{$ctrl.permalink}}
                            </span>
                            <button ng-attr-id="permalink_btn" ng-click="$ctrl.copy();" class="btn btn-primary btn-sm float-right" ng-attr-data-clipboard-target="#permalink">Kopier <span class="sr-only"> permalink</span></button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div ng-if="data.addresses">
                <h4 id="data-adresser">Adresser</h4>
                <table class="table table-striped mb-5" aria-labelledby="data-adresser">
                    <caption class="sr-only">Data om adresser</caption>
                    <thead>
                        <tr>
                            <th scope="col">Dato</th>
                            <th scope="col">Adresse</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="address in data.addresses">
                            <td>
                                {{address.address_date | date: 'dd-MM-yyyy'}}
                            </td>
                            <td>
                                <text-address-police address="address" date="true"></text-address-police>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h4 id="data-andre-personer" ng-if="data.spouses.length > 0 || data.children.length > 0 || data.parent">Andre personer</h4>
            <table role="navigation" class="table table-striped table-hover mb-5" aria-labelledby="data-andre-personer" ng-if="data.spouses.length > 0 || data.children.length > 0 || data.parent">
                <caption class="sr-only">Data om andre personer</caption>
                <thead>
                    <tr>
                        <th scope="col">Titel</th>
                        <th scope="col">Navn</th>
                    </tr>
                </thead>
                <tbody>
                    <tr tabindex="0" role="button" ng-if="data.parent" ui-sref="search.page.result.post({postId:data.parent.post_id})" ng-click="$ctrl.goToPost(data.parent)" ng-keydown="($event.keyCode === 13 || $event.keyCode === 32) && $ctrl.goToPost(data.parent)">
                        <td>
                            Forælder
                        </td>
                        <td>
                            {{data.parent.firstnames}} {{data.parent.lastname}}
                            <feather icon='arrow-right-circle'></feather>
                        </td>
                    </tr>
                    <tr tabindex="0" role="button" ng-repeat="spouse in data.spouses" ng-click="$ctrl.goToPost(spouse)" ng-keydown="($event.keyCode === 13 || $event.keyCode === 32) && $ctrl.goToPost(spouse)">
                        <td>
                            Ægtefælle
                        </td>
                        <td>
                            {{spouse.firstnames}} {{spouse.lastname}}
                            <feather icon='arrow-right-circle'></feather>
                        </td>
                    </tr>
                    <tr tabindex="0" role="button" ng-repeat="child in data.children" ng-click="$ctrl.goToPost(child)" ng-keydown="($event.keyCode === 13 || $event.keyCode === 32) && $ctrl.goToPost(child)">
                        <td>
                            Barn
                        </td>
                        <td>
                            {{child.firstnames}} {{child.lastname}}
                            <feather icon='arrow-right-circle'></feather>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div ng-if="postErrors.length > 0">
                <div>
                    <p>
                        <strong>Denne post er fejlmeldt</strong>
                        <a href ng-click="$ctrl.toggleErrorReports()"> Læs mere</a>
                    </p>
                </div>
                
                <table class="table table-striped table-hower mb-5" aria-labelledby="fejl-meldinger" ng-if="$ctrl.showErrorReports">
                    <caption class="sr-only">Liste over fejl-meldinger</caption>
                    <tbody>
                        <tr ng-repeat="error in postErrors">
                            <th scope="row">
                                {{ error.label || 'Ukendt felt' }}
                            </th>
                            <td>
                                {{error.comment}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div>
                <a href ng-click="showErrorReports = !showErrorReports">
                    <feather class="medium-icon" icon='flag'></feather><span> Rapporter fejl</span>
                </a>
            </div>

            <div class="mt-4" ng-show="showErrorReports">
                <report-error data="data" refresh="$ctrl.refreshErrorReports">
                </report-error>
            </div>
        </div>

        <div class="col-lg-6 order-first order-lg-last">
            <h4>Kilden</h4>
            <div class="card text-white mb-3">
                <div class="card-body">
                    <gallery images='images'></gallery>

                    <div class="row">
                        <div class="col">
                            <button ng-if="data.kildeviser_url" href="{{data.kildeviser_url}}" target="_blank" class="btn btn-lg col erindring-btn">Vis i kildeviser</button>
                        </div>
                        <div class="col">
                            <button ng-if="showEditorLink" href="{{editorUrl}}" target="_blank" class="btn btn-lg col erindring-btn">Vis i kildetaster</button>
                        </div>
                    </div>
        
                    <h5>Om kilden</h5>
                    <div class="row">
                        <div class="col">
                            {{ data.collection_info }}. Station {{data.station}}. Filmrulle {{data.film}}. Registerblad {{data.number}} (uniktid. {{data.registerblad_id}})
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <p ng-if="data.dateOfCompletion">Registerbladet er udfyldt: {{data.dateOfCompletion | date:'dd-MM-yyyy' }}</p>
                            <p ng-if="data.specialRemarks">Særlige bemærkninger: {{data.specialRemarks}}</p>
                        </div>
                    </div>

                    <div class="row" ng-if="data.last_changed">
                        <h6>Om indtastningen</h6>
                        <p>Senest ændret: {{data.last_changed}}</p>
                        <p ng-if="data.registerblad_comment">Indtasters kommentar: {{data.registerblad_comment}}</p>
                    </div>

                    <div class="row">
                        <div class="col">
                            <h6>Løbenr.</h6>
                            <p>{{data.registerblad_id}}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <p ng-if="data.dateOfCompletion">Registerbladet er udfyldt: {{data.dateOfCompletion | date:'dd-MM-yyyy' }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
