<div id="post-content" class="container-fluid post">

    <div class="clearfix"></div>

    <section class="row">

        <div class="col-lg-6">
            <h4 id="data-personen">Personen</h4>
            <table class="table table-striped mb-5" aria-labelledby="data-personen">
                <caption class="sr-only">Data om personen</caption>
                <tbody>
                    <tr>
                        <th scope="row">
                            Persontype
                        </th>
                        <td>
                            {{$ctrl.data.person_type_text}}
                        </td>
                    </tr>
                    <tr ng-if="$ctrl.data.dateOfBirth">
                        <th scope="row">
                            Født
                        </th>
                        <td>
                            {{$ctrl.data.dateOfBirth | date:'dd-MM-yyyy' }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Køn
                        </th>
                        <td>
                            <text-gender type="$ctrl.data.sex"></text-gender>
                        </td>
                    </tr>
                    <tr ng-if="$ctrl.data.positions.length > 0">
                        <th scope="row">
                            Erhverv
                        </th>
                        <td>
                            <span ng-repeat="position in $ctrl.data.positions">{{position.position}}<span ng-if="!$last">, </span></span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Permalink
                        </th>
                        <td>
                            <span id="permalink" class="mr-2">
                                {{$ctrl.permalink}}
                            </span>
                            <button ng-attr-id="permalink_btn" ng-click="$ctrl.copy();" class="btn btn-primary btn-sm float-right" ng-attr-data-clipboard-target="#permalink">Kopier <span class="sr-only"> permalink</span></button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div ng-if="$ctrl.data.addresses">
                <h4 id="data-adresser">Adresser</h4>
                <table class="table table-striped mb-5" aria-labelledby="data-adresser">
                    <caption class="sr-only">Data om adresser</caption>
                    <thead>
                        <tr>
                            <th scope="col">Dato</th>
                            <th scope="col">Adresse</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="address in $ctrl.data.addresses">
                            <td>
                                {{address.address_date | date: 'dd-MM-yyyy'}}
                            </td>
                            <td>
                                <text-address-police address="address" date="true"></text-address-police>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h4 id="data-andre-personer" ng-if="$ctrl.data.spouses.length > 0 || $ctrl.data.children.length > 0 || $ctrl.data.parent">Andre personer</h4>
            <table role="navigation" class="table table-striped table-hover mb-5" aria-labelledby="data-andre-personer" ng-if="$ctrl.data.spouses.length > 0 || $ctrl.data.children.length > 0 || $ctrl.data.parent">
                <caption class="sr-only">Data om andre personer</caption>
                <thead>
                    <tr>
                        <th scope="col">Titel</th>
                        <th scope="col">Navn</th>
                    </tr>
                </thead>
                <tbody>
                    <tr tabindex="0" role="button" ng-if="$ctrl.data.parent" ui-sref="search.page.result.post({postId:$ctrl.data.parent.post_id})" ng-click="$ctrl.goToPost($ctrl.data.parent)" ng-keydown="($event.keyCode === 13 || $event.keyCode === 32) && $ctrl.goToPost($ctrl.data.parent)">
                        <td>
                            Forælder
                        </td>
                        <td>
                            {{$ctrl.data.parent.firstnames}} {{$ctrl.data.parent.lastname}}
                            <feather icon='arrow-right-circle'></feather>
                        </td>
                    </tr>
                    <tr tabindex="0" role="button" ng-repeat="spouse in $ctrl.data.spouses" ng-click="$ctrl.goToPost(spouse)" ng-keydown="($event.keyCode === 13 || $event.keyCode === 32) && $ctrl.goToPost(spouse)">
                        <td>
                            Ægtefælle
                        </td>
                        <td>
                            {{spouse.firstnames}} {{spouse.lastname}}
                            <feather icon='arrow-right-circle'></feather>
                        </td>
                    </tr>
                    <tr tabindex="0" role="button" ng-repeat="child in $ctrl.data.children" ng-click="$ctrl.goToPost(child)" ng-keydown="($event.keyCode === 13 || $event.keyCode === 32) && $ctrl.goToPost(child)">
                        <td>
                            Barn
                        </td>
                        <td>
                            {{child.firstnames}} {{child.lastname}}
                            <feather icon='arrow-right-circle'></feather>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div ng-if="$ctrl.postErrors.length > 0">
                <div>Denne post er fejlmeldt</div>
                <a href ng-click="$ctrl.toggleErrorReports()">Læs mere</a>
                <table class="table table-striped table-hower mb-5" aria-labelledby="fejl-meldinger">
                    <caption class="sr-only">Liste over fejl-meldinger</caption>
                    <tbody>
                        <tr ng-repeat="error in $ctrl.postErrors" ng-if="$ctrl.showErrorReports">
                            <th scope="row">
                                {{ error.label || 'Ukendt felt' }}
                            </th>
                            <td>
                                {{error.comment}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div>
                <a href ng-click="showErrorReports = !showErrorReports">
                    <feather class="medium-icon" icon='flag'></feather><span> Rapporter fejl</span>
                </a>
            </div>

            <div class="mt-4" ng-show="showErrorReports">
                <report-error data="$ctrl.data">
                </report-error>
            </div>


        </div>

        <div class="col-lg-6 order-lg-last">
            <gallery images='$ctrl.images' data="$ctrl.data"></gallery>
        </div>

    </section>
