<div
    class="form-group dynamic-form schema-form-{{form.type}} {{form.htmlClass}}"
    ng-controller="sfTypeahead"
    ng-class="{
        'has-error': form.disableErrorState !== true && hasError(),
        'has-success': form.disableSuccessState !== true && hasSuccess(),
        'has-feedback': form.feedback !== false }">

    <label class="control-label {{form.labelHtmlClass}}" ng-class="{'sr-only': !showTitle()}" for="{{form.key.slice(-1)[0]}}">
        {{form.title}}
        <span class="icon icon__help" uib-tooltip="{{form.description}}" tooltip-placement="top" tooltip-append-to-body="true"></span>
    </label>

    <ui-select ng-model="$$value$$" ng-model-options="ngModelOptions" theme="bootstrap">
        <ui-select-match>
            <div style="height: 40px;line-height: 40px" ng-bind="$select.selected"></div>
        </ui-select-match>
        <ui-select-choices repeat="option in options" refresh="getData(form.schema.datasource, $select.search, form.schema.datasourceValueField)" refresh-delay="0" minimum-input-length="3">
            <div ng-bind-html="option | highlight: $select.search"></div>
        </ui-select-choices>
        <ui-select-no-choice ng-if="$select.search">
            <p>
                {{form.schema.validationErrorMessage}}
            </p>
        </ui-select-no-choice>
    </ui-select>

    <div class="help-block" ng-if="hasError()">{{form.schema.validationErrorMessage}}</div>

</div>
