<div ng-controller="mypageController">
    <div class="row-fluid">
        <div class="span12">
            <h1>Min side</h1>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <h2>Mine indtastninger</h2>
            <ul class="unstyled task-list">
                <li>
                    <div class="task-list__header">Protokol / kilde</div>
                    <div class="task-list__header">Nået til</div>
                    <div class="task-list__header"></div>
                </li>
                <li ng-repeat="task in openProjects" ng-class="{ odd: $odd }" ng-show="openProjects.length > 0">
                    <div class="task-list__item">
                        {{task.name}}
                    </div>
                    <div class="task-list__item">
                        <div ng-if="task.open">Side {{task.lastCompletedPage}}</div>
                        <div ng-if="!task.open">Protokol færdig</div>
                    </div>
                    <div class="task-list__item text-right">
                        <button type="button" class="btn btn-default" ng-if="task.open" ng-click="goToEditor(task)">Fortsæt</button>
                        <button type="button" class="btn btn-default" ng-if="!task.open" ng-click="goToStatistics(task)">Se statistik</button>
                    </div>
                </li>
            </ul>
            <div ng-if="openProjects.length == 0" class="alert text-center">
                Henter data
            </div>

        </div>

        <div class="row-fluid" ng-if="false">
            <div class="span12 text-center">
                <a href>Se flere</a>
            </div>
        </div>
    </div>
</div>