<div ng-controller="opentasksController" ng-init="init({taskId: 1})"">

    <ul class="unstyled task-list">
        <li>
            <div class="task-list__header">Protokolnavn</div>
            <div class="task-list__header">Status</div>
            <div class="task-list__header">Brugere online</div>
        </li>
        <li ng-repeat="unit in units" ng-class="{ odd: $odd }" ng-show="units.length > 0">
            <div class="task-list__item">
                <span>{{unit.description}}</span>
                <span ng-show="unit.pages_done < unit.pages">
                    <button type="button" ng-click="goToEditor(unit)" class="button">Start indtastning</button>
                </span>
            </div>
            <div class="task-list__item">
                <div class="row">
                    <div class="span8">
                        <progress-bar total-pages="unit.pages" done-pages="unit.pages_done"></progress-bar>
                    </div>
                    <div class="span4 text-center">
                        <span>{{unit.pages_done}}/{{unit.pages}}</span>
                    </div>
                    <!-- <div class="span12 text-left">
                        <a href>Se statistik</a>
                    </div> -->
                </div>
            </div>
            <div class="task-list__item">
                <ul class="list-inline">
                    <li ng-repeat="user in unit.active_users">
                        {{user.username}}
                        <!-- TODO: Should use the user directive: -->
                        <!--<user data="user"></user> -->
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    <div ng-if="units.length == 0" class="alert text-center">
        Henter data
    </div>
</div>
