<h1>Begravelsesprotekoller</h1>
<p>Tekst fra Joomla</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem laudantium unde fuga iusto sit harum autem ab quam sint animi, quis, tempore. Facere, debitis?</p>

<a href>Se vejledning</a>

<div ng-controller="opentasksController">
    <ul class="unstyled task-list">
        <li>
            <div class="task-list__header">Protekolnavn</div>
            <div class="task-list__header">Status</div>
            <div class="task-list__header">Brugere online</div>
        </li>
        <li ng-repeat="task in tasks" ng-class="{ odd: $odd }" ng-show="tasks.length > 0">
            <div class="task-list__item">
                <span>{{task.name}}</span>
                <span>
                    <button type="button" class="btn btn-default">Start indtastning</button>
                </span>
            </div>
            <div class="task-list__item">
                <div class="row">
                    <div class="span8">
                        <uib-progressbar animate="'true'" value="calcProgress(task)" type="success"><b>{{calcProgress(task)}}%</b></uib-progressbar>
                    </div>
                    <div class="span4 text-center">
                        <span>{{task.pagesTotal - task.pagesLeft}}/{{task.pagesTotal}}</span>
                    </div>
                    <div class="span12 text-left">
                        <a href>Se statistik</a>
                    </div>
                </div>
            </div>
            <div class="task-list__item">
                <ul class="unstyled">
                    <li><a href>Jens Jensen</a> s.93</li>
                    <li><a href>Hanne Hansen</a> s.115</li>
                    <li><a href>+ 5 andre</a></li>
                </ul>
            </div>
        </li>
    </ul>
    <div ng-if="tasks.length == 0" class="alert text-center">
        Henter data
    </div>
</div>
