<div ng-controller="opentasksController">
    <ul class="unstyled task-list">
        <li>
            <div class="task-list__header">Protekolnavn</div>
            <div class="task-list__header">Status</div>
            <div class="task-list__header">Brugere online</div>
        </li>
        <li ng-repeat="unit in units" ng-class="{ odd: $odd }" ng-show="units.length > 0">
            <div class="task-list__item">
                <span>{{unit.description}}</span>
                <span>
                    <button type="button" class="btn btn-default" ng-click="goToEditor(unit)">Start indtastning</button>
                </span>
            </div>
            <div class="task-list__item">
                <div class="row">
                    <div class="span8">
                        <progress-bar total-pages="unit.pages" done-pages="unit.tasks[0].pages_done"></progress-bar>
                    </div>
                    <div class="span4 text-center">
                        <span>{{unit.tasks[0].pages_done}}/{{unit.pages}}</span>
                    </div>
                    <!-- <div class="span12 text-left">
                        <a href>Se statistik</a>
                    </div> -->
                </div>
            </div>
            <div class="task-list__item">
                <ul class="unstyled">
                    <!-- <li><a href>Jens Jensen</a> s.93</li>
                    <li><a href>Hanne Hansen</a> s.115</li>
                    <li><a href>+ 5 andre</a></li> -->
                </ul>
            </div>
        </li>
    </ul>
    <div ng-if="tasks.length == 0" class="alert text-center">
        Henter data
    </div>
</div>
