<div class="sdk-search">
    <div class="row-fluid" ng-repeat="row in config">
        <div class="span12">
            <div class="row-fluid redform-form sdk-search__config">
                <div class="span4">
                    <div class="field">
                        <label>
                            Felt
                            <select ng-model="row.field" ng-options="field.name for field in fields | filter: {'searchable': '1'}">
                            </select>
                        </label>
                    </div>
                </div>
                <div class="span4">
                    <div class="field">
                        <label>
                            Operator
                            <select 
                                ng-options="operator.value as operator.label for operator in operatorOptions" 
                                ng-model="row.operator"
                                ng-init="row.operator = operatorOptions[0].value">
                            </select>
                        </label>
                    </div>
                </div>
                <div class="span4">
                    <div class="field">
                        <label>
                            Søgeterm
                            <input type="text" placeholder="Søgeterm" ng-keypress="submitSearch($event)" ng-model="row.term">
                        </label>
                    </div>
                </div>
                <a href class="sdk-search__remove" ng-click="removeField($index, $event)" ng-if="config.length > 1">
                    <span class="sdk-icon delete"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <a href class="sdk-search__add" ng-click="addField()">Tilføj et felt</a>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <button type="button" class="button" ng-click="doSearch()" ng-disabled="searching">Søg</button>

             <hr class="sdk-search__divider">
        </div>

    </div>
   
    <section class="row-fluid">
        <div class="span12" ng-if="results.length > 0">

            <div class="sdk-search__count">
                <ng-pluralize count="results.numFound"
                    when="{'0': 'Ingen resultater',
                    'one': 'Ét resultat',
                    'other': '{} resultater'}">
                </ng-pluralize>
            </div>
        </div>
        <div class="row-fluid" ng-repeat="result in results.docs">
            <div class="span12">
                <search-result result="result" config="fields" index="$index"></search-result>
            </div>
        </div>
    </section>
</div>