.post {

    table {
        margin-bottom: 5rem;
    }

    tr {
        border-bottom: 1px solid #d6d8dd;
    }

    th, td {
        padding: 0.8rem;
    }

    .erindring-btn {
        color: #000c2e !important; 
        background-color: #fff;
        margin: 1.5rem;
    }

    .erindring-btn:focus {
        outline-width: medium;
        outline-style: solid;
        outline-color: grey
    }
    
    .btn-link:focus {
        outline-width: medium;
        outline-style: solid;
        outline-color: grey
    }

    #source-gallery-modal {
        .modal-dialog {
            max-width: 100%;
            margin: 3rem 0;
        }

        .modal-content {
            border: 0;
            // overwrite in variables:
            border-radius: 0;
            background-color: transparent;
        }
    }

    .card {
        background-color: #000c2e;
    }

    .modal-backdrop {
        background-color: #000c2e;

        &.show {
            opacity: 1;
        }
    }

}