.sdk-search {
    .advanced-search-fields {
        .form-row {
            padding: 1rem 0;

            border-bottom: 1px solid rgba(0,0,0,0.1);
        }

        .btn-icon {
            margin-top: 0.5rem;

            @media (min-width: 768px) {
                margin-top: 2rem;
            }
        }
    }
    .term-field {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;

        display: block;

        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;

        color: #495057;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        background-color: #ffffff;
        background-clip: padding-box;
    }
    .search-type {
        .list-group-item {
            svg {
                transition: transform 200ms ease;
            }

            &[aria-expanded="true"] svg {
                transform: rotate(180deg);
            }
        }
    }
}