.search-container {
    & .ng-enter {
        transition: opacity 300ms ease;

        opacity: 0;
        &.ng-enter-active {
            opacity: 1;
        }
    }

    &.ng-enter {
        transition: opacity 300ms ease;

        opacity: 0;
        &.ng-enter-active {
            opacity: 1;
        }
    }
}
