
<div class="form-group dynamic-form" ng-class="{ 'has-error': field.errorText }">
    
    <label class="control-label">
        {{field.labelText}}
        <span 
            class="icon glyphicon glyphicon-question-sign" 
            uib-tooltip="{{field.helpText}}" 
            tooltip-placement="top"
            tooltip-append-to-body="true"
        ></span>
    </label>
    
    <div class="dynamic-form__adjust">
        <input type="{{field.type}}" class="form-control" ng-model="field.value" ng-model-options="{ updateOn: 'blur' }" ng-disabled="field.unreadable" />
        <a href 
            tabindex="-1" 
            class="icon glyphicon glyphicon-info-sign" 
            uib-tooltip="{{TEXT.FIELD_UNREADABLE}}" 
            tooltip-placement="left" 
            ng-click="toggleUnreadable()"
            ></a>
    </div>

    <div class="help-block" ng-if="field.errorText">{{field.errorText}}</div>   

</div>