
<div class="form-group dynamic-form" ng-class="{ 'has-error': field.errorText }">
    
    <label class="control-label">
        {{field.labelText}}
        <span class="glyphicon glyphicon-question-sign" uib-tooltip="{{field.helpText}}" tooltip-placement="top"></span>
    </label>
    
    <div class="dynamic-form__adjust">
        <input type="{{field.type}}" class="form-control" ng-model="field.value" />
        <span class="glyphicon glyphicon-info-sign"></span>
    </div>

    <div class="help-block" ng-if="field.errorText">{{field.errorText}}</div>   

</div>