<div class="form-group" ng-class="{ 'has-error': errorText }">
    <label class="control-label">
        {{field.labelText}}
        <span 
            class="icon glyphicon glyphicon-question-sign" 
            uib-tooltip="{{field.helpText}}" 
            tooltip-placement="top"
            tooltip-append-to-body="true"
        ></span>
    </label>
    <div class="dynamic-form__adjust">
        <ui-select ng-model="target[field.fieldName]" ng-disabled="field.unreadable">
            <ui-select-match>
                <span ng-bind="$select.selected.name"></span>
            </ui-select-match>
            <ui-select-choices repeat="option in (field.options | filter: $select.search) track by option.id">
                <span ng-bind="option.name"></span>
            </ui-select-choices>
        </ui-select>
        <span tabindex="-1" class="icon glyphicon glyphicon-info-sign" uib-tooltip="{{TEXT.FIELD_UNREADABLE}}" tooltip-placement="left" ng-click="toggleUnreadable()"></span>
    </div>
</div>
