<div id="nav-start"></div>
<div class="page-header container-fluid">
    <div class="row">
        <div class="col align-self-end">
            <a id="jumpTo" class="sr-only sr-only-focusable float-lg-right" tabindex="0" ng-click="$ctrl.jumpTo()">Gå direkte til indhold</a>
        </div>
    </div>
    <div class="container-fluid" ng-if="$ctrl.partOfSearch">
        <header class="row">
            <div class="col-lg-4">
                <h1>Søg person</h1>
            </div>

            <div class="col-lg-6">
                <span>Resultat {{ $ctrl.index }} af {{ $ctrl.numFound }}</span>
            </div>

            <div class="col-lg-2">
                <a ui-sref="search.page.results" class="btn btn-primary float-lg-right">Tilbage til søgeresultat</a>
            </div>
        </header>

    </div>
</div>

<div class="col-12">
    <nav class="container-fluid" aria-label="Brødkrummesti">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"><feather-icon class="medium-icon" icon='home'></feather-icon><span class="sr-only">Hjem</span></a></li>
            <li class="breadcrumb-item"><a ui-sref="search.page">Søg person</a></li>
            <li class="breadcrumb-item"><a ui-sref="search.page.results">Søgeresultater</a></li>
            <li class="breadcrumb-item active" aria-current="page" tabindex='-1'>{{$ctrl.data.firstnames}} {{$ctrl.data.lastname}} {{$ctrl.data.birthname}}</li>
        </ol>
    </nav>       
</div>

<div class="container-fluid post">
    <section class="row  mt-3">
            <div ng-if="$ctrl.partOfSearch" class="col-lg-6 order-lg-last">
                <div class="float-right">
                    <a href="#" class="btn btn-primary mx-2" ng-click="$ctrl.prev()" ng-disabled="$ctrl.disablePrev()">Forrige</a>
                    <a href="#" class="btn btn-primary mx-2" ng-click="$ctrl.next()" ng-disabled="$ctrl.disableNext()">Næste</a>
                </div>
            </div>
            <div class="col-lg-6">
                <h2>{{$ctrl.data.firstnames}} {{$ctrl.data.lastname}} {{$ctrl.data.birthname}}</h2>
                <h2 ng-if="$ctrl.data.collection_id === 19">Efterretninger</h2>
                <h3 ng-if="$ctrl.data.collection_info">{{$ctrl.data.collection_info}}</h3>
                <h3 ng-if="$ctrl.data.collection_id === 19">Politiets efterretninger</h3>
                <h3 ng-if="$ctrl.data.collection_id === 18">Erindring</h3>
            </div>
    </section>
</div>