<div class="page-header">
    <div class="container-fluid" ng-if="$ctrl.partOfSearch">
        <header class="row">

            <div class="col-lg-4">
                <h1>Søg person</h1>
            </div>

            <div class="col-lg-6">
                <span>Resultat {{ $ctrl.index }} af {{ $ctrl.numFound }}</span>
            </div>

            <div class="col-lg-2">
                <a ui-sref="search.page.results" class="btn btn-primary float-lg-right" focus>Tilbage</a>
            </div>

        </header>

        <nav class="float-lg-right row">
            <a href="#" class="btn btn-primary" ng-click="$ctrl.prev()" ng-disabled="$ctrl.disablePrev()">Forrige</a>
            <a href="#" class="btn btn-primary" ng-click="$ctrl.next()" ng-disabled="$ctrl.disableNext()">Næste</a>
        </nav>
    </div>
</div>  

<div class="col-12">
    <nav class="container-fluid" aria-label="Brødkrummesti">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#" focus>Hjem</a></li>
            <li class="breadcrumb-item"><a ui-sref="search.page">Søg</a></li>
            <li class="breadcrumb-item"><a ui-sref="search.page.results">Søg person</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{$ctrl.data.firstnames}} {{$ctrl.data.lastname}} {{$ctrl.data.birthname}}</li>
        </ol>
    </nav>
</div>