.button {
    font-size: 1.2em;
    font-weight: normal;
    line-height: 30px;

    display: inline-block;

    margin-bottom: 0;
    padding: 4px 20px;

    cursor: pointer;
    /* overwrite of default KBH styling */
    text-decoration: none !important;

    color: $white;
    border: none;
    border-radius: 3px;
    background-color: $search-primary;

    &:hover, &:active {
        /* overwrite of default KBH styling */
        text-decoration: none !important;

        color: $white;
        background-color: darken($search-primary, 10%);
    }

    &:disabled {
        cursor: default;

        color: $gray;
        background-color: $gray-dark;

        &:hover {
            background-color: $gray-dark;
        }
    }
}