.facet {
    &__offcanvas {
        position: fixed;
        z-index: 1200;
        top: 0;
        left: 0;

        overflow-x: hidden;
        overflow-y: scroll;

        width: 375px;
        max-width: 100%;
        height: 100%;

        transition: transform 400ms ease;
        transform: translateX(-100%);

        background-color: white;

        -webkit-overflow-scrolling: touch;
    }

    &__offcanvas.active {
        transform: translateX(0);
    }

    &__offcanvas .list-group .list-group .list-group-item:not(.active) {
        background-color: rgba(0, 0, 0, 0.05);
    }
}