.pagination.sdk-pagination {
    li > a {
        min-width: 34px;
        padding-right: 8px;
        padding-left: 8px;
        &:hover {
            background-color: $gray-dark !important;
        }
    }

    .active {
        a {
            font-weight: 800;

            color: currentColor !important;
            &:hover {
                background-color: #f5f5f5 !important; //hack to overwrite default Joomla styling
            }
        }
    }

    .disabled {
        a {
            color: $gray-dark !important;
            background-color: #efefef !important;
            &:hover {
                background-color: #efefef !important;
            }
        }
    }

    li {
        a {
            border: 1px solid $gray-border;
            border-right: 0;
            background-color: $white;
        }

        & + li {
            a {
                border-right: 0;
            }
        }

        &.disabled {
            a {
                border: 1px solid $gray-border;
                border-right: 0;
                background-color: $white;
            }
        }

        &:first-child {
            a {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }
        }
        &:last-child {
            a {
                border-right: 1px solid $gray-border;
            }
        }
    }

    .sdk-pagination__arrow {
        a, &.disabled a {
            position: relative;

            color: $white;
            background-color: #e0e0e0 !important;
        }

        img {
            position: absolute;
            top: 13px;
            left: 10px;

            & + img {
                left: 5px;
            }
        }
    }

    .sdk-pagination__next {
        img {
            transform: rotate(-90deg);
        }
    }

    .sdk-pagination__next-double {
        img {
            left: 14px;

            transform: rotate(-90deg);

            & + img {
                left: 9px;
            }
        }
    }

    .sdk-pagination__prev {
        img {
            transform: rotate(90deg);
        }
    }
    .sdk-pagination__prev-double {
        img {
            top: 13px;
            left: 12px;

            transform: rotate(90deg);

            & + img {
                left: 7px;
            }
        }
    }
}