.sdk-searchresult {
    display: table;

    table-layout: fixed;

    &__item {
        display: table-cell;

        width: 25%;

        border-right: 1px solid $light-gray;

        > div {
            padding: 15px 20px;
        }

        &:last-child {
            border-right-width: 0;
        }
    }
}

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .sdk-searchresult {
        display: block;

        margin-bottom: 10px;
        &__item {
            display: block;

            width: 100%;

            border-right-width: 0;
            border-bottom: 1px solid $light-gray;
        }
    }
}