.task-list {
    display: table;

    width: 100%;

    table-layout: fixed;

    padding: 0;

    li {
        display: table-row;
    }

    li.odd {
        background-color: $gray;
    }

    &__header {
        font-weight: bold;

        display: table-cell;

        padding: 6px 10px;
        padding-bottom: 0;

        border-bottom: 1px solid $gray-dark;
    }

    &__item {
        display: table-cell;

        padding: 6px 10px;

        vertical-align: top;

        > span {
            display: block;
        }

        button {
            margin-top: 8px;
        }

        .progress {
            margin-left: -15px; // override column padding
        }
    }
    &__header, &__item {
        &:first-child {
            width: 40%;
        }
    }

    &__filter {
        font-size: inherit;

        width: auto;

        color: $black;

        border: 1px solid $gray-dark;

        margin-bottom: 3px;

        &.extra-column {
            max-width: 200%;
        }
    }

    &__icon {
        width: 20px !important;
        height: 13px !important;
    }

    //Joomla overwrite
    .row {
        margin-left: 0;
    }
    [class*="span"] {
        min-height: auto;
    }
}