.filter-link {
    display: flex;
    flex-direction: row;

    margin: 16px -15px;

    flex-wrap: wrap;

    &__item {
        position: relative;

        display: inline-block;

        margin-right: 5px;
        margin-bottom: 5px;
        padding: 8px 40px 8px 10px;

        text-decoration: none !important;

        color: $white;
        border-radius: 3px;
        background-color: $primary;

        &:active, &:focus, &:hover {
            text-decoration: none; //Joomla overwrite

            color: $white;
            background-color: darken($primary, 10%);
        }
    }

    &__name {
        text-transform: capitalize;

        color: currentColor;
    }

    &__remove {
        position: absolute;
        top: 50%;
        right: 8px;

        width: 21px;
        height: 21px;
        margin-left: 10px;

        transform: translateY(-50%);

        border: 1px solid $white;
        border-radius: 50%;

        .sdk-icon.close {
            position: relative;
            top: -2px;
            left: -4px;
        }
    }
}