.btn {
    position: relative;

    height: 54px;

    &.btn-primary {
        border-color: darken($green, 15%);
        background-color: $green;
    }

    &[disabled] {
        opacity: 1;
    }
}