.editor-form-container {
    position: absolute;
    z-index: 100;
    right: 20px;
    bottom: 40px;

    overflow-x: hidden;
    overflow-y: scroll;

    width: 20%;
    min-width: 300px;
    height: 100%;
    padding: 6px 10px;

    border: 1px solid darken($white, 10%);
    background-color: $white;

    .row {
        margin-bottom: 10px;

        .control-label {
            .glyphicon {
                margin-left: 6px;
            }
        }

        // .form-group {
        //     position: relative;

        //     padding-right: 20px;

        //     > .glyphicon {
        //         position: absolute;
        //         top: 50%;
        //         right: 0;
        //     }
        // }
    }
}


.dynamic-form {
    &__adjust {
        position: relative;

        padding-right: 20px;

        .glyphicon {
            position: absolute;
            top: 50%;
            right: 0;

            transform: translateY(-50%);
        }
    }
}