.editor-form-container {
    position: absolute;
    z-index: 100;
    top: $gutter;
    right: $gutter;
    bottom: 40px;

    overflow-x: hidden;
    overflow-y: scroll;

    width: 20%;
    min-width: 300px;
    padding: 6px 10px;

    border: 1px solid darken($white, 10%);
    background-color: $white;

    .row {
        margin-bottom: 10px;

        .control-label {
            .glyphicon {
                margin-left: 6px;
            }
        }
    }
}