.field-list {
    margin-right: -8px;
    margin-left: -8px;
    padding: 5px 8px 0 8px;

    & + & {
        padding: 0 8px;
    }

    &__item {
        position: relative;

        padding-bottom: 6px;
        padding-left: 4px;
    }

    &__active {
        margin-right: -5px;
        margin-bottom: 15px;
        margin-left: -5px;
        padding: 5px 5px;

        background-color: $blue;

        .row {
            margin-bottom: 0;
        }
    }

    &__highlight {
        margin-right: -5px;
        margin-bottom: 15px;
        margin-left: -5px;
        padding: 5px 5px;

        background-color: $yellow;
    }

    &:nth-child(odd) {
        background-color: $lighter-gray;
    }

    ul {
        margin-left: 0;
    }

    &__sublist {
        li {
            margin-bottom: 2px;
            margin-left: 0 !important;
        }
    }

    &__subitem {
        display: block;
    }

    &--dots {
        position: relative;

        //A line following the height of the list
        &:before {
            position: absolute;
            top: 14px;
            left: 4px;

            display: inline-block;

            width: 1px;
            height: 100%;

            content: "";

            border-left: 1px solid $gray-text;
        }
        .field-list__item {
            //Add dot before each item
            &:before {
                position: absolute;
                top: 7px;
                left: -8px;

                display: block;

                width: 8px;
                height: 8px;
                padding-left: 8px;

                content: "";

                border-radius: 50%;
                background-color: $gray-text;
            }
        }

        ul:not(.dropdown-menu) {
            li {
                margin-left: 20px;
            }
        }
    }
}

.field-list--error {
    @extend .field-list;

    color: $red;

    .field-list__item {
        display: flex;

        transition: opacity 300ms ease-in-out;

        opacity: 1;

        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;

        &.ng-leave-active {
            opacity: 0;
        }

        > span {
            display: block;

            width: 100%;

            word-wrap: break-word;

            align-self: center;
        }
    }

    .field-list__button {
        flex: 0 0 100px;
    }
}