.imageViewer {
    &__done {
        position: relative;

        overflow: hidden;

        border: 1px dotted $dark-gray;
        background-color: rgba(0, 0, 0, 0.28);

        &:before {
            font-size: 20px;

            position: absolute;
            top: 50%;
            left: 50%;

            display: block;

            content: "\2713";
            transform: translateX(-50%) translateY(-50%);

            color: $white;
        }

        &:hover {
            cursor: default;
        }
    }

    &__progress {
        opacity: 0.5;
        border: 2px dotted $white;
        //Add dropshadow to the marked area, with a shade so big it
        box-shadow: 0 0 100px 2000px $black;
    }
}

.selection-box {
    background-color: rgba( $green-overlay, 0.15 ) !important;

    &:hover {
        cursor: move;
    }
}

// Hack to force handles to be bigger and easier to drag, should be updated in the openseadragon lib and not with !important styling
.corner-0-handle, .corner-1-handle, .corner-2-handle, .corner-3-handle {
    @include border-radius(50%);

    width: 12px !important;
    height: 12px !important;

    border: 4px solid $black !important;
    background-color: $white !important;

    &:hover {
        cursor: pointer;
    }
}

.border-0-handle, .border-1-handle, .border-2-handle, .border-3-handle {
    @include border-radius(50%);

    width: 8px !important;
    height: 8px !important;
}

.border-0-handle, .border-1-handle, .border-2-handle, .border-3-handle {
    &:hover {
        cursor: pointer;
    }
}

.border-0 {
    border-top: 2px dotted $black !important;
    &-handle {
        top: -1px !important;
    }
}

.border-1 {
    border-right: 2px dotted $black !important;
    &-handle {
        left: 1px !important;
    }
}
.border-2 {
    border-bottom: 2px dotted $black !important;
}
.border-3 {
    border-left: 2px dotted $black !important;
    &-handle {
        left: 0 !important;
    }
}
.border-0, .border-1, .border-2, .border-3 {
    background-color: transparent !important;
}