.imageViewer {
    &__done {
        position: relative;

        overflow: hidden;

        opacity: 0.5;
        background-color: $green;

        &:before {
            font-size: 20px;

            position: absolute;
            top: 50%;
            left: 50%;

            display: block;

            content: "Udfyldt";
            transform: translateX(-50%) translateY(-50%) rotate(-45deg);

            color: $white;
        }
    }

    &__progress {
        @include border-radius();

        opacity: 0.5;
        border: 2px solid $gray;
        //Add dropshadow to the marked area, with a shade so big it
        box-shadow: 0 0 100px 2000px #000000;
    }
}