.summary-item {
    position: relative;

    &__label {
        font-size: 10px;

        display: inline-block;

        color: $gray-text;

        &:after {
            display: inline;

            content: ": ";
        }
    }

    &__field {
        display: inline-block;
    }
}