.dropdown-menu {
    right: 0;
    left: auto !important;

    overflow-y: scroll;

    max-height: 200px;
}

.ui-select-container.loading:after {
    position: absolute;
    z-index: 10;
    right: 10px;
    bottom: 31%;

    width: 20px;
    height: 20px;
    margin: -20px 0 0 -20px;

    content: "";
    animation: spin 1s infinite linear;

    border: solid rgba(9, 62, 78, 0.2);
    border-width: 2px;
    border-top-color: $dark-blue;
    border-radius: 50%;
}

//because of issues with animations, opacity is not handled correct in the current version of ui-select (0.19.6)
// @see https://github.com/angular-ui/ui-select/issues/1731
.ui-select-bootstrap > .ui-select-choices {
    width: auto;
    min-width: 100%;

    opacity: 1 !important;
}

//Prevent very long selected items to flow outside the 'input field'
.ui-select-bootstrap .ui-select-match-text {
    overflow: hidden;
}